.ni-matrix{
	background-color: #32558e;
}
.cu-matrix{
	background-color: #D5AD71;
}
.cr-matrix{
	background-color: #FBA971;
}
.fe-matrix{
	background-color: #aaa;
}
.mo-matrix{
	background-color: #B7C8B5;
}
.co-matrix{
	background-color: #7FB285;
}
.w-matrix{
	background-color: #544343;
}
.nb-matrix{
	background-color: #B9314F;
}
.al-matrix{
	background-color: #C4AF9A;
}
.si-matrix{
	background-color: #e83719;
}
.n-matrix{
	background-color: #3B8EA5;
}

.ni-cu-line{
	background: linear-gradient(180deg, #32558e, #D5AD71);
}
.ni-cr-line{
	background: linear-gradient(180deg, #32558e, #FBA971);
}
.cr-ni-line{
	background: linear-gradient(180deg, #FBA971, #32558e);
}
.cr-si-line{
	background: linear-gradient(180deg, #FBA971, #e83719);
}
.cr-fe-line{
	background: linear-gradient(180deg, #FBA971, #aaa);
}
.cr-mo-line{
	background: linear-gradient(180deg, #FBA971, #B7C8B5);
}
.mo-cr-line{
	background: linear-gradient(180deg, #B7C8B5, #FBA971);
}
.mo-cu-line{
	background: linear-gradient(180deg, #B7C8B5, #D5AD71);
}
.mo-nb-line{
	background: linear-gradient(180deg, #B7C8B5, #B9314F);
}
.mo-n-line{
	background: linear-gradient(180deg, #B7C8B5, #3B8EA5);
}
.fe-ni-line{
	background: linear-gradient(180deg, #aaa, #32558e);
}
.fe-mo-line{
	background: linear-gradient(180deg, #aaa, #B7C8B5);
}
.mo-fe-line{
	background: linear-gradient(180deg, #B7C8B5, #aaa);
}
.ni-mo-line{
	background: linear-gradient(180deg, #32558e, #B7C8B5);
}
.ni-fe-line{
	background: linear-gradient(180deg, #32558e, #aaa);
}
.fe-cr-line{
	background: linear-gradient(180deg, #aaa, #FBA971);
}
.co-mo-line{
	background: linear-gradient(180deg, #7FB285, #B7C8B5);
}
.co-ni-line{
	background: linear-gradient(180deg, #7FB285, #32558e);
}
.cr-co-line{
	background: linear-gradient(180deg, #FBA971, #7FB285);
}
.mo-w-line{
	background: linear-gradient(180deg, #B7C8B5, #544343);
}
.mo-nb-line{
	background: linear-gradient(180deg, #B7C8B5, #B9314F);
}
.cu-nb-line{
	background: linear-gradient(180deg, #D5AD71, #B9314F);
}
.fe-nb-line{
	background: linear-gradient(180deg, #aaa, #B9314F);
}
.cu-n-line{
	background: linear-gradient(180deg, #D5AD71, #3B8EA5);
}
.ni-co-line{
	background: linear-gradient(180deg, #32558e, #7FB285);
}
.co-fe-line{
	background: linear-gradient(180deg, #7FB285, #aaa);
}
.fe-co-line{
	background: linear-gradient(180deg, #aaa, #7FB285);
}
.cr-al-line{
	background: linear-gradient(180deg, #FBA971, #C4AF9A);
}

@media screen and (min-width: 600px) {


	.figure{
		position: relative;
		width: 40vw;
		margin: 2vw 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: #fff;
	}
	.short-figure{
		width: 35vw;
		z-index: 1;
		user-select: none;
		pointer-events: none;
	}
	.figure-text{
		width: 40vw;
		font-size: 1.6vw;
		line-height: 3.8vw;
		font-weight: bold;
		margin: 0;
		z-index: 1;
		text-align: center;
	}
	.figure-text > span{
		display: block;
		font-size: 1.2vw;
		font-weight: normal;
		line-height: 2vw;
	}


	#social-share{
		position: fixed;
		bottom: 2vw;
		left: 2vw;
		z-index: 1;
		background-color: #fff;
		border-radius: 1vw;
	}
	.share-btn{
		width: 2.3vw;
		height: 2.3vw;
		display: block;
		margin: 1.5vw 1vw;
	}
	.share-btn > img{
		width: 2.3vw;
		height: 2.3vw;
	}
	body{
		color: #333;
	}
	main p{
		text-align: center;
	}
	.down-word{
		font-size: 1vw;
		vertical-align: sub;
	}
	.up-word{
		font-size: 1vw;
		vertical-align: super;
	}


	#pagepicture{
	    width: 100vw;
	    height: 20vw;
	    background-color: #333333;
	    background-size: cover;
	    position: relative;
	}
	#pagepicture > h1{
	    width: 100vw;
	    height: 20vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.vs-grade{
		font-size: 2.5vw;
		text-align: center;
		line-height: 6vw;
		position: relative;
		padding: 0 3vw;
	}
	.vs-grade:first-child{
		animation: line3 .6s backwards ease-in;
	}
	.vs-grade:last-child{
		animation: line2 .6s backwards ease-in;
	}
	.vs-grade::before{
		content: "";
		position: absolute;
		width: 100%;
		height: 15vw;
		left: 0;
		transform: skew(-15deg);
		background-color: rgba(255, 255, 255, .6);
	}
	.vs-grade > div{
		z-index: 1;
		position: relative;
		color: #333;
	}
	.vs-grade > div > span{
		font-size: 10vw;
	}
	#vs{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: line1 .6s backwards ease-in;
	}
	#v-1{
		color: #fff;
		font-size: 8vw;
		text-shadow: .5vw .5vw 1vw #666;
	}

	#author-bread{
		width: 80vw;
		height: 3.5vw;
		margin: 2vw 10vw 0 10vw;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#author{
		width: 30vw;
		height: 3.5vw;
		animation: line4 1s backwards;
		position: relative;
	}
	#user{
		width: 3.5vw;
		height: 3.5vw;
		overflow-x: hidden;
		border-radius: 10vw;
		position: absolute;
		left: 0vw;
	}
	#user > img{
		width: 3vw;
		height: auto;
		position: absolute;
		left: .2vw;
		top: .5vw;
	}
	#author-text{
		position: absolute;
		left: 4.5vw;
		font-weight: bold;
		font-size: 1.6vw;
		line-height: 3.5vw;
	}



	#content-button{
		position: relative;
		width: 15vw;
		height: 3.5vw;
		margin: 0 .5vw;
	}
	#content-button-1{
		width: 15vw;
		height: 3.5vw;
		border-radius: 3.5vw;
		color: #333;
		text-align: center;
		font-weight: bold;
		line-height: 3.5vw;
		font-size: 1.6vw;
		cursor: pointer;
		transition: all .2s;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #eee;
	}
	#content-button-1::after{
		content: "";
		width: 62vw;
		height: 1vw;
		position: absolute;
		left: -23.5vw;
		top: 3.5vw;
		background-color: 3333;
		pointer-events: none;
		z-index: 1;
	}
	#content-button:hover #content-button-1::after{
		pointer-events: inherit;
	}
	#content-button-2{
		width: 62vw;
		border-radius: 1vw;
		background-color: #eee;
		cursor: pointer;
		transition: all .2s;
		position: absolute;
		left: -23.5vw;
		top: 4.5vw;
		display: flex;
		flex-wrap: wrap;
		padding: .25vw;
		box-shadow: .5vw .5vw 2vw #888;
		transform: scale(0);
		transform-origin: 50% -2vw;
		opacity: 0;
		pointer-events: none;
		transition: all .2s;
		z-index: 1;
	}
	#content-button-2 > div{
		width: 15vw;
		height: 3vw;
		background-color: #fff;
		border-radius: .8vw;
		text-align: center;
		font-weight: bold;
		line-height: 3vw;
		font-size: 1.3vw;	
		margin: .25vw;
		transition: all .2s;
	}
	#content-button-2 > div:hover{
		background-color: #333;
		color: #fff;
	}
	#content-button:hover{
		border-color: #333;
		color: #333;
	}
	#content-button:hover #content-button-2{
		transform: scale(1);
		opacity: 1;
		pointer-events: inherit;
	}
	
	#breadol{
	    width: 30vw;
	    display: flex;
	    align-content: center;
	    justify-content: flex-end;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    z-index: 1;
		animation: line4 1s backwards;
	}
	#breadol li{
	    font-size: 1.2vw;
	    color: #333;
	    line-height: 1vw;
	    display: flex;
	}
	#breadol li a{
	    color: #333;
	    margin-right: 2vw;
	    display: block;
	    position: relative;
	}
	#breadol li a::after{
		content: "";
		display: block;
		width: .2vw;
		height: 1vw;
		background-color: #333;
		transform: skew(-15deg);
		position: absolute;
		top: 0vw;
		right: -1.1vw;		
	}
	@keyframes line1{
		0%{transform: scale(2); opacity: 0;}
		100%{transform: scale(1); opacity: 1;}
	}
	@keyframes line2{
		0%{transform: translate(30vw, 0); opacity: 0;}
		100%{transform: translate(0, 0); opacity: 1;}
	}
	@keyframes line3{
		0%{transform: translate(-30vw, 0); opacity: 0;}
		100%{transform: translate(0, 0); opacity: 1;}
	}
	@keyframes line4{
		0%{transform: translate(0, 10vw); opacity: 0;}
		100%{transform: translate(0, 0); opacity: 1;}
	}


	#media-page{
		width: 100vw;
		padding: 0 0 5vw 0;
	}
	#media-page h2{
		width: 60vw;
		position: relative;
		text-align: center;
		font-size: 3.8vw;
		padding: 5vw 20vw 1vw 20vw;
		animation: line4 1s backwards;
		animation-delay: .2s;
	}
	#media-page h2 > span{
		position: relative;
		display: inline-block;
	}
	#media-page h2 > span::before{
		content: "";
		width: 1vw;
		height: 1vw;
		border-radius: 1vw;
		background-color: #32558e;
		position: absolute;
		left: -3vw;
		top: 2vw;
	}
	#media-page h2 > span::after{
		content: "";
		width: 1vw;
		height: 1vw;
		border-radius: 1vw;
		background-color: #32558e;
		position: absolute;
		right: -3vw;
		top: 2vw;
	}
	#media-page h3{
		animation: line4 1s backwards;
		animation-delay: .3s;
		font-size: 1.5vw;
		text-align: center;
		padding: 2vw 0 .5vw 0;
	}
	#media-pic, .media-pic{
		width: 80vw;
		position: relative;
		left: 10vw;
		padding: 2vw 0;
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	.middle-text{
		position: relative;
		width: 40vw;
		margin: 1vw 30vw;
	}
	.middle-text::before{
		content: "";
		width: 1vw;
		height: 1vw;
		border-radius: 1vw;
		background-color: #32558e;
		position: absolute;
		left: -5vw;
		top: calc(50% - .5vw);
		box-shadow: 49vw 0 0 0 #32558e;
	}
	.middle-text::after{
		content: "";
		width: 30vw;
		height: .2vw;
		border-radius: 1vw;
		background-color: #32558e;
		position: absolute;
		left: -34vw;
		top: calc(50% - .1vw);
		box-shadow: 78vw 0 0 0 #32558e;
	}
	.double-text{
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		margin: 1vw 0;
		padding: 0 0 5vw 0;
	}
	.double-text::after{
		content: "";
		width: 1vw;
		height: 1vw;
		border-radius: 1vw;
		background-color: #32558e;
		position: absolute;
		left: calc(50% - .5vw);
		top: 0;
		box-shadow: 100% 0 0 0 #32558e;
	}
	.double-text::before{
		content: "";
		width: .2vw;
		height: calc(100% - 3vw);
		border-radius: 1vw;
		background-color: #32558e;
		position: absolute;
		left: calc(50% - .1vw);
		top: 0;
	}
	.double-text-text{
		width: 30vw;
	}
	.double-text-standard{
		width: 40vw;
		text-align: center!important;
		font-size: 1.3vw;
		padding: .6vw 0;
	}
	.left-text, .right-text{
		width: 40vw;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.info-title{
		color: #666;
		font-weight: bold;
		font-size: 2vw!important;
		padding: 5vw 0 1vw 0!important;
	}
	.grade-name{
		color: #333;
		font-weight: bold;
		font-size: 3vw!important;
		padding: .5vw 0!important;
		line-height: 3vw!important;
		text-align: center!important;
	}
	.grade-brand{
		font-weight: bold;
		font-size: 3.8vw!important;
		padding: 1vw 0!important;
	}
	.grade-win{
		color: #32558e;
		font-weight: bold;
		font-size: 8vw!important;
		padding: 3vw 0!important;
		transform: rotate(-10deg);
	}
	.grade-lose{
		color: #999;
		font-weight: bold;
		font-size: 6vw!important;
		padding: 3vw 0!important;
		transform: rotate(-10deg);
	}
	.grade-tie{
		color: #333;
		font-weight: bold;
		font-size: 7vw!important;
		padding: 3vw 0!important;
		transform: rotate(-10deg);
	}
	.grade-comp{
		color: #32558e;
		font-weight: bold;
		font-size: 5vw!important;
		padding: 3vw 0!important;
		transform: rotate(-10deg);
		text-align: center!important;
		line-height: 5.5vw!important;
	}
	.matrix{
		width: 15vw;
		display: flex;
		padding: 1vw 0 0 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.ele-matrix{
		width: 12vw;
		height: 3vw;
		color: #fff;
		text-align: center;
		line-height: 3vw;
		border-radius: 3vw;
		font-size: 1.5vw;
		font-weight: bold;
	}
	.ele-line{
		width: .5vw;
		height: .5vw;
	}
	.type-div{
		width: 40vw;
		height: 8vw;
		display: flex;
		padding: .5vw 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.type-svg{
		width: 5vw;
		height: 5vw;
	}
	.type-text{
		width: 5vw;
		height: 5vw;
		font-size: 1.5vw!important;
		line-height: 1.6vw!important;
		font-weight: bold;
		color: #333;
		text-align: center!important;
		width: 40vw;
	}
	.grade-density{
		color: #333;
		font-weight: bold;
		font-size: 3.8vw!important;
		padding: 1vw 0;		
	}
	.grade-density > span{
		font-size: 2vw!important;
	}

	#chemical-composition{
		width: 100vw;
		height: var(--height);
		justify-content: flex-start;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		align-content: center;
		margin: 2vw 0;
	}
	#chemical-composition-2{
		width: 40vw;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		margin: .5vw 0;
		position: relative;
	}
	.middle-text #chemical-composition-2{
		left: -2vw;
	}
	.comp-grade{
		color: #666;
		font-weight: bold;
		font-size: 2vw;
		height: 2vw;
		width: 10vw;
		text-align: right;
		margin: .5vw 0;
		line-height: 2vw;
	}
	.comp-grade-2{
		color: #666;
		font-weight: bold;
		font-size: 2vw;
		height: 2vw;
		width: 5vw;
		text-align: right;
		margin: .5vw 0;
		line-height: 2vw;
	}
	.chemical{
		width: 30vw;
		margin: .5vw 1vw;
		display: flex;
		height: 2vw;
	}
	.chemical2{
		width: 35vw;
		margin: .5vw 1vw;
		display: flex;
		height: 2vw;
	}
	.chemical > div{
		width: 30vw;
		height: 2vw;
		background-color: #eee;
		border-radius: 2vw;
		overflow: hidden;
	}
	.chemical2 > div{
		width: 35vw;
		height: 2vw;
		background-color: #eee;
		border-radius: 2vw;
		overflow: hidden;
	}
	.chemical > div > div, .chemical2 > div > div{
		height: 2vw;
		width: 0;
		position: relative;
	}
	.chemical > div > div::after, .chemical2 > div > div::after{
		width: 20vw;
		height: 2vw;
		font-size: 1.3vw;
		color: inherit;
		position: absolute;
		top: 0;
		left: calc(100% + 1vw);
		text-align: left;
		line-height: 2vw;
		font-weight: bold;
	}
	.space{
		width: 100vw;
		height: 1vw;
	}


	.frame{
		background-color: #fafafa;
		border-radius: 1vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5vw 5vw;
	}
	.one-frame > p, .two-frame > p, .two-three-frame > p{
		width: 35vw;
		margin: 1vw 0;
	}
	.frame > h3{
		font-size: 2vw!important;
		margin: 1vw 0!important;
		padding: 0!important;
	}
	.sim-frame{
		width: 90vw;
		margin: 2vw 5vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.one-frame{
		width: 80vw;
		margin: 1vw 0;
	}
	.two-frame{
		width: 34vw;
		margin: 1vw 0;
	}
	.three-frame{
		width: 19vw;
		margin: 1vw 0;
	}
	.two-three-frame{
		width: 49vw;
		margin: 1vw 0;
	}
	.one-one{
		width: 74vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 1vw 0;
	}
	.one-two{
		width: 80vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 1vw 0;
	}

	#standards-div{
		width: 80vw;
		display: flex;
		flex-wrap: wrap;
		padding: 1vw 5vw;
	}
	#standards-div-2{
		width: 80vw;
		display: flex;
		justify-content: center;
		padding: 1vw 5vw;
	}
	#standards-div > div, #standards-div-2 > div{
		width: 20vw;
		margin: .5vw 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.standards-div-1, .standards-div-3{
		font-size: 3vw;
		line-height: 3vw;
		font-weight: bold;
		color: var(--color);
		position: relative;
		margin: .6vw 0;
		text-align: center;
		padding-bottom: .6vw;
	}
	.standards-div-2, .standards-div-4{
		font-size: 1.2vw;
		color: #333;
		background: #fafafa;
		z-index: 1;
		padding: 0 .8vw;
		text-align: center;
	}
	.standards-div-1::before{
		content: "";
		position: absolute;
		top: 5vw;
		left: 0;
		width: 100%;
		height: .1vw;
		background: var(--color);
	}
	.standards-div-3::before{
		content: "";
		position: absolute;
		top: 8vw;
		left: 0;
		width: 100%;
		height: .1vw;
		background: var(--color);
	}	




	#media-page p{
		font-size: 1.3vw;
		position: relative;
		padding: .6vw 0;
		text-align: justify;
		line-height: 2vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	#media-page > div > div{
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	#media-page ul{
		font-size: 1.3vw;
		width: 40vw;
		position: relative;
		padding: 1vw 0;
		text-align: justify;
		animation: line4 1s backwards;
		animation-delay: .3s;
		line-height: 2vw;
	}
	#media-page li{
		margin: .5vw 0;
	}
	.center-li{
		width: 80vw;
		text-align: center;
	}
	#date{
		width: 8vw;
		position: relative;
		left: 81vw;
		text-align: center;
		font-size: 1vw;
		height: 3vw;
		padding: 5vw 0 1vw 0;
		display: block;
		animation: line4 1s backwards;
		animation-delay: .4s;
	}
	#date > span{
		display: block;
		color: #fff;
		height: 3vw;
		position: relative;
		line-height: 3vw;
		width: 8vw;
	}
	#date::before{
		content: "";
		display: block;
		width: 8vw;
		height: 2vw;
		background-color: #999;
		transform: skew(-15deg);
		position: absolute;
		top: 5.5vw;
		left: 0vw;
	}

	.element-none{
		opacity: 0;
	}
	.element{
		font-size: 1.5vw;
		font-weight: bold;
	}
	.element-table th{
		background-color: #fff;
		border: solid .3vw #fff;
		height: 3vw;
		width: 4.2vw;
	}
	.element-table td{
		background-color: #eee;
		border: solid .3vw #fff;
		height: 3vw;
		width: 4.2vw;
	}
	.non-metal{
		background-color: #ddd!important;
	}
	.table-container{
		width: 100%;
	}
	#m-p-table{
		width: 100%;
		margin: 1vw 0;
	}
	.table-container > table{
		width: 100%;
		margin: 2vw 10vw;
	}
	table{
	  	border-collapse: collapse;
		border-style: solid;
		border-width: .3vw 0;
		border-color: #333;
		color: #333;
		position: relative;
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	th{
		text-align: center;
		color: #333;
		border-style: none;
		font-size: 1.2vw;
		padding: .5vw 0;
	}
	td{
		text-align: center;
		border-style: none;
		color: #333;
		font-size: 1.1vw;
		padding: .5vw 0;
	}
	tr{
		border-style: solid;
		border-width: .15vw 0;
		border-color: #333;
	}
	caption{
		width: 100%;
		font-size: 1.3vw;
		text-align: center;
		color: #333;
		margin: 0;
		padding: 1vw 0;
		font-weight: bold;
	}


	.related-h2{
		width: 100vw;
		padding: 5vw 0;
		text-align: center;
		position: relative;
	}
	.related-h2 > span{
		color: #333;
		height: 3vw;
		position: relative;
		line-height: 3vw;
		font-size: 3.8vw;
		z-index: 1;
	}
	.related-h2::before{
		content: "";
		display: block;
		width: 63vw;
		height: 10vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: .5vw;
		left: 0vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	.related-h2::after{
		content: "";
		display: block;
		width: 63vw;
		height: 10vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		bottom: 0.5vw;
		right: 0vw;
		opacity: .5;
		animation: tb 1s backwards;
	}

	.grain-comp{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.grain-comp > div{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 1vw 0;
	}
	.grain-comp > div:nth-child(1){
		align-items: flex-start;
	}
	.grain-comp > div:nth-child(2){
		align-items: flex-end;
		text-align: right;
	}
	.grain-comp > div > div:nth-child(1){
		font-size: 2vw;
		font-weight: bold;
		line-height: 2vw;
		margin: .5vw 0;
		color: #666;
	}
	.grain-comp > div > div:nth-child(2){
		font-size: 3.5vw;
		font-weight: bold;
		line-height: 3.5vw;
		margin: .5vw 0;
	}



	.heat-comp{
		width: 80vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 1vw 0;
	}
	.heat-comp > div{
		width: 70vw;
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	.heat-comp > div:nth-child(1), .heat-comp > div:nth-child(3){
		align-items: flex-start;
	}
	.heat-comp > div:nth-child(2){
		align-items: flex-end;
	}
	.heat-comp > div > div:nth-child(1){
		font-size: 2vw;
		font-weight: bold;
		line-height: 2vw;
		margin: .5vw 0;
		color: #666;
	}
	.heat-comp > div > div:nth-child(2){
		font-size: 3.5vw;
		font-weight: bold;
		line-height: 3vw;
		margin: .5vw 0;
	}

	#relation{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.grade-rel{
		margin: 2vw 0;
		font-size: 3vw;
		font-weight: bold;
		color: #666;
	}
	.arrow-rel{
		width: .3vw;
		height: 3vw;
		background-color: #666;
		border-radius: 1vw;
		position: relative;
	}
	.arrow-rel::after{
		content: "";
		width: 0;
		height: 0;
		border: solid 1vw transparent;
		border-top: solid 1vw #666;
		position: absolute;
		left: -.9vw;
		top: 2.7vw;
		transform: scale(.6, 1);
	}
	.arrow-rel > div{
		width: 30vw;
		height: 1.5vw;
		font-size: 1.2vw;
		position: absolute;
		left: -15vw;
		text-align: center;
		background-color: #fff;
		top: 0.7vw;
	}


	.point{
		width: 1vw;
		height: 1vw;
		border-radius: 1vw;
		background-color: #32558e;
		position: relative;
	}
	#related-page{
		overflow: hidden;
		position: relative;
		padding-bottom: 8vw;
		background-color: #fff;
	}
	#media-latest > .point{
		margin: 2vw 16vw;
	}
	.media-blog{
		width: 90vw;
		height: 15vw;
		position: relative;
		margin: 1vw 5vw;
	}
	.media-blog::before{
		content: "";
		width: 9vw;
		height: 18vw;
		background-color: #eee;
		position: absolute;
		left: 80vw;
		top: -1.5vw;
		transform: skew(-15deg) scale(1, 1);
		opacity: .5;
		transform-origin: right;
		transition: all .2s;
	}
	.media-blog:hover::before{
		transform: skew(-15deg) scale(8, 1);
	}
	.media-blog > a{
		width: 95vw;
		height: 15vw;
		position: absolute;
		left: 0vw;
		top: 0;
	}
	.media-blog > a > img{
		height: 15vw;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 1vw;
	}
	.media-blog > a > h4{
		font-size: 2.5vw;
		width: 65vw;
		margin: 0;
		line-height: 2vw;
		position: absolute;
		left: 25vw;
		top: 1vw;
	}
	.media-p{
		font-size: 1.3vw;
		width: 50vw;
		line-height: 1.9vw;
		position: absolute;
		left: 25vw;
		top: 4.5vw;
		text-align: justify;
	}
	.media-time{
		font-size: 1vw;
		line-height: 2vw;
		position: absolute;
		right: 10vw;
		top: 13vw;
	}
	.media-div{
		font-size: 1.2vw;
		width: 10vw;
		height: 2vw;
		color: #32558e;
		border: solid .2vw #32558e;
		border-radius: 2vw;
		line-height: 2vw;
		position: absolute;
		text-align: center;
		left: 25vw;
		top: 12vw;
		font-weight: bold;
	}
	#othernews{
		padding-bottom: 6vw;
	}
	#othernews h2{
		width: 80vw;
		position: relative;
		left: 10vw;
		text-align: center;
		font-size: 2vw;
		height: 3vw;
		padding: 3vw 0 1vw 0;
	}
	#othernews h2 > span{
		display: block;
		color: #fff;
		height: 3vw;
		position: relative;
		line-height: 3vw;
	}
	#othernews h2::before{
		content: "";
		display: block;
		width: 20vw;
		height: 3vw;
		background-color: #555;
		transform: skew(-15deg);
		position: absolute;
		top: 3vw;
		left: 30vw;
	}
	#contact-copy{
		height: 2.3vw;
		width: 23vw;
		border-radius: 3vw;
		display: flex;
		align-items: center;
		background-color: #eee;
		justify-content: flex-end;
		position: relative;
		padding: 1vw;
		margin: 2vw 7.5vw;
		animation: line4 1s backwards;
		animation-delay: .4s;
	}
	#contact-email{
		font-size: 1.5vw;
		font-weight: bold;
		margin: 0 1vw;
	}
	#contact-copy > .copy-text{
		position: absolute;
		left: 0;
		top: 4vw;
		width: 23vw;
		text-align: center;
	}
}








	.monel-brand{
		color: #8d7f62;
	}
	.inconel-brand{
		color: #936b51;
	}
	.incoloy-brand{
		color: #736c6d;
	}
	.hastelloy-brand{
		color: #7c7f74;
	}













@media screen and (max-width: 600px) {
	#social-share{
		display: none;
	}
	body{
		color: #333;
		overflow: hidden;
	}
	main p{
		text-align: center;
	}
	.down-word{
		font-size: 1vw;
		vertical-align: sub;
	}
	.up-word{
		font-size: 1vw;
		vertical-align: super;
	}


	.figure{
		position: relative;
		width: 90vw;
		margin: 6vw 5vw;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: #fff;
	}
	.short-figure{
		width: 90vw;
		z-index: 1;
		user-select: none;
		pointer-events: none;
	}
	.figure-text{
		width: 90vw;
		font-size: 4.8vw;
		line-height: 11.4vw;
		font-weight: bold;
		margin: 0;
		z-index: 1;
		text-align: center;
	}
	.figure-text > span{
		display: block;
		font-size: 3.6vw;
		font-weight: normal;
		line-height: 6vw;
	}


	#pagepicture{
	    width: 100vw;
	    height: 120vw;
	    background-color: #333333;
	    background-size: cover;
	    position: relative;
	}
	#pagepicture > h1{
	    width: 100vw;
	    padding-top: 10vw;
	    height: 110vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.vs-grade{
		font-size: 5vw;
		text-align: center;
		line-height: 12vw;
		position: relative;
		width: 60vw;
	}
	.vs-grade:first-child{
		animation: line3 .6s backwards ease-in;
	}
	.vs-grade:last-child{
		animation: line2 .6s backwards ease-in;
	}
	.vs-grade::before{
		content: "";
		position: absolute;
		width: 60vw;
		height: 30vw;
		left: 0;
		transform: skew(-15deg);
		background-color: rgba(255, 255, 255, .6);
	}
	.vs-grade > div{
		z-index: 1;
		position: relative;
		color: #333;
	}
	.vs-grade > div > span{
		font-size: 20vw;
	}
	#vs{
		height: 5vw;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: line1 .6s backwards ease-in;
	}
	#v-1{
		color: #fff;
		font-size: 16vw;
		transform: translate(0, -2vw);
		text-shadow: 1vw 1vw 2vw #666;
		display: none;
	}

	#author-bread{
		width: 90vw;
		height: 20vw;
		margin: 5vw;
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}
	#author{
		width: 90vw;
		height: 10.5vw;
		position: relative;
		left: 0;
		top: 0;
		animation: line4 1s backwards;
		padding-top: 5vw;
	}
	#user{
		width: 10.5vw;
		height: 10.5vw;
		overflow-x: hidden;
		border-radius: 10.5vw;
		position: absolute;
		left: 0vw;
	}
	#user > img{
		width: 9vw;
		height: auto;
		position: absolute;
		left: .6vw;
		top: 1.5vw;
	}
	#author-text{
		position: absolute;
		left: 13.5vw;
		font-weight: bold;
		font-size: 4.8vw;
		line-height: 10.5vw;
	}
	#content-button{
		display: none;
	}
	#breadol{
	    width: 90vw;
	    display: flex;
	    align-content: center;
	    justify-content: flex-start;
	    list-style: none;
	    position: relative;
	    padding: 0;
	    margin: 0;
	    z-index: 1;
		animation: line4 1s backwards;
	}
	#breadol li{
	    font-size: 3.6vw;
	    color: #333;
	    line-height: 3vw;
	    display: flex;
	}
	#breadol li a{
	    color: #333;
	    margin-right: 6vw;
	    display: block;
	    position: relative;
	}
	#breadol li a::after{
		content: "";
		display: block;
		width: .6vw;
		height: 3vw;
		background-color: #333;
		transform: skew(-15deg);
		position: absolute;
		top: 0vw;
		right: -3.3vw;		
	}

	@keyframes line1{
		0%{transform: scale(2); opacity: 0;}
		100%{transform: scale(1); opacity: 1;}
	}
	@keyframes line2{
		0%{transform: translate(30vw, 0); opacity: 0;}
		100%{transform: translate(0, 0); opacity: 1;}
	}
	@keyframes line3{
		0%{transform: translate(-30vw, 0); opacity: 0;}
		100%{transform: translate(0, 0); opacity: 1;}
	}
	@keyframes line4{
		0%{transform: translate(0, 10vw); opacity: 0;}
		100%{transform: translate(0, 0); opacity: 1;}
	}


	#media-page{
		width: 100vw;
		padding: 0 0 24vw 0;
	}
	#media-page h2{
		width: 90vw;
		position: relative;
		left: 5vw;
		text-align: center;
		font-size: 9vw;
		padding: 6vw 0 3vw 0;
		animation: line4 1s backwards;
		animation-delay: .2s;
	}
	#media-page h2 > span{
		position: relative;
		display: inline-block;
	}
	#media-page h2 > span::before{
		content: "";
		width: 3vw;
		height: 3vw;
		border-radius: 2vw;
		background-color: #32558e;
		position: absolute;
		left: -6vw;
		top: 5vw;
	}
	#media-page h2 > span::after{
		content: "";
		width: 3vw;
		height: 3vw;
		border-radius: 2vw;
		background-color: #32558e;
		position: absolute;
		right: -6vw;
		top: 5vw;
	}
	#media-page h3{
		animation: line4 1s backwards;
		animation-delay: .3s;
		font-size: 4.5vw;
		text-align: center;
		padding: 3vw 0 1.5vw 0;
	}
	#media-pic, .media-pic{
		width: 80vw;
		position: relative;
		left: 10vw;
		padding: 2vw 0;
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	.middle-text{
		position: relative;
		width: 100vw;
		margin: 5vw 0;
		overflow: hidden;
	}
	.middle-text p{
		width: 80vw!important;
		position: relative;
		width: 100vw;
		margin: 0vw 10vw;
	}
	.middle-text::before{
		content: "";
		width: 3vw;
		height: 3vw;
		border-radius: 2vw;
		background-color: #32558e;
		position: absolute;
		left: 5vw;
		top: calc(50% - 1.5vw);
		box-shadow: 88vw 0 0 0 #32558e;
	}
	.middle-text::after{
		content: "";
		width: 10vw;
		height: .5vw;
		border-radius: 1vw;
		background-color: #32558e;
		position: absolute;
		left: -4vw;
		top: calc(50% - .25vw);
		box-shadow: 97vw 0 0 0 #32558e;
	}
	.double-text{
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		margin: 2vw 0;
		padding: 0 0 10vw 0;
	}
	.double-text::after{
		content: "";
		width: 3vw;
		height: 3vw;
		border-radius: 2vw;
		background-color: #32558e;
		position: absolute;
		left: calc(50% - 1.5vw);
		top: 0;
		box-shadow: 100% 0 0 0 #32558e;
	}
	.double-text::before{
		content: "";
		width: .5vw;
		height: calc(100% - 6vw);
		border-radius: 2vw;
		background-color: #32558e;
		position: absolute;
		left: calc(50% - .25vw);
		top: 0;
	}
	.double-text-text{
		width: 40vw;
	}
	.double-text-standard{
		width: 40vw;
		text-align: center!important;
		font-size: 4.5vw;
		padding: 2vw 0;
	}
	.left-text, .right-text{
		width: 50vw;
		display: flex;
		align-items: center;
		flex-direction: column;
		overflow: hidden;
	}
	.info-title{
		color: #666;
		font-weight: bold;
		font-size: 6vw!important;
		padding: 10vw 0 3vw 0!important;
	}
	.grade-name{
		color: #333;
		font-weight: bold;
		font-size: 7vw!important;
		padding: 1vw 0 5vw 0!important;
		line-height: 8vw!important;
		text-align: center!important;
	}
	.grade-brand{
		font-weight: bold;
		font-size: 8vw!important;
		padding: 3vw 0 6vw 0!important;
	}
	.grade-win{
		color: #32558e;
		font-weight: bold;
		font-size: 16vw!important;
		padding: 6vw 0!important;
		transform: rotate(-10deg);
	}
	.grade-lose{
		color: #999;
		font-weight: bold;
		font-size: 12vw!important;
		padding: 6vw 0!important;
		transform: rotate(-10deg);
	}
	.grade-tie{
		color: #333;
		font-weight: bold;
		font-size: 14vw!important;
		padding: 6vw 0!important;
		transform: rotate(-10deg);
	}
	.grade-comp{
		color: #32558e;
		font-weight: bold;
		font-size: 10vw!important;
		padding: 6vw 0!important;
		transform: rotate(-10deg);
		text-align: center!important;
		line-height: 11vw!important;
	}
	.matrix{
		width: 40vw;
		height: var(--height);
		display: flex;
		padding: 2vw 0 .5vw 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.ele-matrix{
		width: 30vw;
		height: 8vw;
		color: #fff;
		text-align: center;
		line-height: 8vw;
		border-radius: 4vw;
		font-size: 4.5vw;
		font-weight: bold;
	}
	.ele-line{
		width: 2vw;
		height: 2vw;
	}
	.type-div{
		width: 40vw;
		height: 16vw;
		display: flex;
		padding: 6vw 0 3vw 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.type-svg{
		width: 10vw;
		height: 10vw;
	}
	.type-text{
		width: 10vw;
		height: 10vw;
		font-size: 4.5vw!important;
		line-height: 5vw!important;
		font-weight: bold;
		color: #333;
		text-align: center!important;
		width: 40vw;
	}
	.grade-density{
		color: #333;
		font-weight: bold;
		font-size: 10vw!important;
		padding: 2vw 0 5vw 0!important;
	}
	.grade-density > span{
		font-size: 5vw!important;
	}

	#chemical-composition{
		width: 100vw;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		margin: 6vw 0;
	}
	#chemical-composition-2{
		width: 100vw;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		margin: 3vw 0;
		position: relative;
	}
	.comp-grade-2{
		color: #666;
		font-weight: bold;
		font-size: 6vw;
		height: 6vw;
		width: 15vw;
		text-align: right;
		margin: 1vw 0;
		line-height: 6vw;
	}
	.chemical{
		width: 60vw;
		margin: 1vw 3vw;
		display: flex;
		height: 6vw;
	}
	.chemical2{
		width: 70vw;
		margin: 1vw 3vw;
		display: flex;
		height: 6vw;
	}
	.chemical > div{
		width: 60vw;
		height: 6vw;
		background-color: #eee;
		border-radius: 3vw;
		overflow: hidden;
	}
	.chemical2 > div{
		width: 70vw;
		height: 6vw;
		background-color: #eee;
		border-radius: 3vw;
		overflow: hidden;
	}
	.chemical > div > div, .chemical2 > div > div{
		height: 6vw;
		width: 0;
		position: relative;
	}
	.chemical > div > div::after, .chemical2 > div > div::after{
		width: 40vw;
		height: 6vw;
		font-size: 3.9vw;
		color: inherit;
		position: absolute;
		top: 0;
		left: calc(100% + 3vw);
		text-align: left;
		line-height: 6vw;
		font-weight: bold;
		opacity: 1;
	}


	.supported-products-1{
		width: 45vw!important;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 1.5vw 0!important;
	}
	.supported-products-2{
		width: 45vw!important;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 1.5vw 0!important;
	}
	.vs-product{
		margin: 1.5vw!important;
		border-radius: 5.4vw;
	}
	.vs-product > a{
		width: 45vw;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		transition: all .3s;
	}
	.vs-product img{
		width: 7.5vw;
		height: 7.5vw;
		border-radius: 7.5vw;
	}
	.vs-product span{
		position: relative;
		width: 45vw;
		font-size: 4vw;
		text-align: center;
		line-height: 7vw;
		color: #333;
	}


	#media-page p{
		font-size: 4.5vw;
		position: relative;
		padding: 1.8vw 0;
		text-align: justify;
		line-height: 8vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	#media-page > div > div{
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	#media-page ul{
		font-size: 4.5vw;
		width: 80vw;
		position: relative;
		padding: 3vw 10vw;
		text-align: justify;
		animation: line4 1s backwards;
		animation-delay: .3s;
		line-height: 6vw;
	}
	#media-page li{
		margin: 1.5vw 0;
	}
	.center-li{
		width: 80vw;
		text-align: center;
	}
	#date{
		width: 24vw;
		position: relative;
		left: 66vw;
		text-align: center;
		font-size: 3vw;
		height: 9vw;
		padding: 15vw 0 3vw 0;
		display: block;
	}
	#date > span{
		display: block;
		color: #fff;
		height: 9vw;
		position: relative;
		line-height: 9vw;
		width: 24vw;
	}
	#date::before{
		content: "";
		display: block;
		width: 24vw;
		height: 6vw;
		background-color: #999;
		transform: skew(-15deg);
		position: absolute;
		top: 16.5vw;
		left: 0vw;
	}


	


	.table-container{
		width: 100vw;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.table-container::-webkit-scrollbar{
		display: none;
	}

	.element-none{
		opacity: 0;
	}
	.element{
		font-size: 1.5vw;
		font-weight: bold;
	}
	.element-table, .element-table tr{
		border: none;
	}
	.element-table th{
		background-color: #fff;
		border: solid .3vw #fff;
		height: 3vw;
		width: 16.6vw;
	}
	.element-table td{
		background-color: #eee;
		border: solid .3vw #fff;
		height: 3vw;
		width: 16.6vw;
	}
	.non-metal{
		background-color: #ddd!important;
	}
	#m-p-table{
		width: 90vw;
		margin: 0 5vw;
	}
	.table-container > table{
		width: 150vw;
		margin: 6vw 10vw;
	}
	table{
	  	border-collapse: collapse;
		border-style: solid;
		border-width: .9vw 0;
		border-color: #333;
		color: #333;
		position: relative;
	}
	th{
		text-align: center;
		color: #333;
		border-style: none;
		font-size: 4.2vw;
		padding: 2vw 0;
	}
	td{
		text-align: center;
		border-style: none;
		color: #333;
		font-size: 3.8vw;
		padding: 2vw 0;
	}
	tr{
		border-style: solid;
		border-width: .45vw 0;
		border-color: #333;
	}
	caption{
		width: 100%;
		font-size: 5vw;
		text-align: center;
		color: #333;
		margin: 0;
		padding: 3vw 0;
		font-weight: bold;
	}








	.related-h2{
		width: 90vw;
		padding: 15vw 5vw;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	.related-h2 > span{
		color: #333;
		height: 12vw;
		position: relative;
		line-height: 12vw;
		font-size: 12vw;
		z-index: 1;
	}
	.related-h2::before{
		content: "";
		display: block;
		width: 63vw;
		height: 30vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 3vw;
		left: 5vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	.related-h2::after{
		content: "";
		display: block;
		width: 63vw;
		height: 30vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		bottom: 1vw;
		right: 0vw;
		opacity: .5;
		animation: tb 1s backwards;
	}
	#related-page{
		overflow: hidden;
		position: relative;
		padding-bottom: 10vw;
	}
	.point{
		width: 3vw;
		height: 3vw;
		border-radius: 3vw;
		background-color: #32558e;
		position: relative;
	}
	#media-latest > .point{
		margin-left: 5vw;
		position: relative;
	}
	#media-latest > .point::after{
		content: "";
		height: .3vw;
		width: 80vw;
		background: #32558e;
		position: absolute;
		left: 6vw;
		top: 1.3vw;
		border-radius: 3vw;
	}
	.media-blog{
		width: 100vw;
		position: relative;
		margin: 5vw 0;
		overflow: hidden;
	}
	.media-blog > a{
		display: block;
		width: 90vw;
		height: 100%;
		position: relative;
		margin: 0 5vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.media-blog > a > img{
		width: 90vw;
		height: 60vw;
		position: relative;
		border-radius: 3vw;
		left: 0;
		top: 0;
	}
	.media-blog > a > h4{
		font-size: 7.5vw;
		width: 85vw;
		margin: 3vw 2.5vw;
		line-height: 9vw;
	}
	.media-p{
		font-size: 4.5vw;
		width: 85vw;
		margin: 0 2.5vw;
		line-height: 6vw;
		text-align: justify;
	}
	.media-time{
		width: 30vw;
		height: 9.6vw;
		font-size: 4vw;
		line-height: 9.6vw;
		margin: 5vw 2.5vw;
	}
	.media-div{
		font-size: 4.8vw;
		width: 40vw;
		height: 8vw;
		border: solid .8vw #32558e;
		border-radius: 8vw;
		line-height: 8vw;
		text-align: center;
		font-weight: bold;
		margin: 5vw 2.5vw;
		color: #32558e;
	}


	#othernews{
		padding-bottom: 10vw;
		position: relative;
	}
	#othernews h2{
		width: 80vw;
		position: relative;
		left: 10vw;
		text-align: center;
		font-size: 6vw;
		height: 9vw;
		margin: 0 0 12vw 0;
	}
	#othernews h2 > span{
		display: block;
		color: #fff;
		height: 9vw;
		position: relative;
		line-height: 9vw;
	}
	#othernews h2::before{
		content: "";
		display: block;
		width: 60vw;
		height: 9vw;
		background-color: #555;
		transform: skew(-15deg);
		position: absolute;
		top: 0;
		left: 10vw;
	}


	#contact-copy{
		height: 6.9vw;
		width: 74vw;
		border-radius: 9vw;
		display: flex;
		align-items: center;
		background-color: #eee;
		justify-content: flex-end;
		position: relative;
		padding: 3vw;
		margin: 6vw 10.5vw;
		margin-bottom: 10vw;
		animation: line4 1s backwards;
		animation-delay: .4s;
	}
	#contact-email{
		font-size: 5.5vw;
		font-weight: bold;
		margin: 0 3vw 0 0;
	}
	#contact-copy > .copy-text{
		position: absolute;
		left: 0;
		top: 15vw;
	}
	.copy-button{
		display: flex;
	}
	.copy-text{
		display: block;
		width: 74vw;
		text-align: center;
	}




	.grain-comp{
		width: 80vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.grain-comp > div{
		width: 70vw;
		display: flex;
		flex-direction: column;
		margin: 3vw 0;
	}
	.grain-comp > div:nth-child(1){
		align-items: flex-start;
		text-align: left;
	}
	.grain-comp > div:nth-child(2){
		align-items: flex-end;
		text-align: right;
	}
	.grain-comp > div > div:nth-child(1){
		font-size: 6vw;
		font-weight: bold;
		line-height: 6vw;
		margin: 1.5vw 0;
		color: #666;
	}
	.grain-comp > div > div:nth-child(2){
		font-size: 10.5vw;
		font-weight: bold;
		line-height: 10.5vw;
		margin: 1.5vw 0;
	}



	.heat-comp{
		width: 80vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 3vw 0;
	}
	.heat-comp > div{
		width: 70vw;
		display: flex;
		flex-direction: column;
		margin: 3vw 0;
	}
	.heat-comp > div:nth-child(1), .heat-comp > div:nth-child(3){
		align-items: flex-start;
	}
	.heat-comp > div:nth-child(2){
		align-items: flex-end;
		text-align: right;
	}
	.heat-comp > div > div:nth-child(1){
		font-size: 6vw;
		font-weight: bold;
		line-height: 6vw;
		margin: 1.5vw 0;
		color: #666;
	}
	.heat-comp > div > div:nth-child(2){
		font-size: 10.5vw;
		font-weight: bold;
		line-height: 9vw;
		margin: 1.5vw 0;
	}

	#relation{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.grade-rel{
		margin: 6vw 0;
		font-size: 9vw;
		font-weight: bold;
		color: #666;
	}
	.arrow-rel{
		width: .9vw;
		height: 9vw;
		background-color: #666;
		border-radius: 3vw;
		position: relative;
	}
	.arrow-rel::after{
		content: "";
		width: 0;
		height: 0;
		border: solid 3vw transparent;
		border-top: solid 3vw #666;
		position: absolute;
		left: -2.7vw;
		top: 7.1vw;
		transform: scale(.6, 1);
	}
	.arrow-rel > div{
		width: 90vw;
		height: 4.5vw;
		font-size: 3.6vw;
		position: absolute;
		left: -45vw;
		text-align: center;
		background-color: #fff;
		top: 1.6vw;
	}


	.frame{
		background-color: #fafafa;
		border-radius: 3vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5vw 5vw;
	}
	.one-frame > p, .two-frame > p, .two-three-frame > p{
		width: 80vw;
		margin: 3vw 0;
	}
	.frame > h3{
		font-size: 6vw!important;
		margin: 3vw 0!important;
		padding: 0!important;
	}
	.sim-frame{
		width: 95vw;
		margin: 2vw 2.5vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.one-frame{
		width: 85vw;
		margin: 2vw 0;
	}
	.two-frame{
		width: 85vw;
		margin: 2vw 0;
	}
	.three-frame{
		width: 85vw;
		margin: 2vw 0;
	}
	.two-three-frame{
		width: 85vw;
		margin: 2vw 0;
	}
	.one-one{
		width: 74vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 1vw 0;
	}
	.one-two{
		width: 90vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 1vw 0;
	}

	#standards-div{
		width: 80vw;
		display: flex;
		flex-wrap: wrap;
		padding: 1vw 5vw;
	}
	#standards-div-2{
		width: 80vw;
		display: flex;
		justify-content: center;
		padding: 1vw 5vw;
	}
	#standards-div > div, #standards-div-2 > div{
		width: 80vw;
		margin: 1.5vw 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.standards-div-1, .standards-div-3{
		font-size: 9vw;
		line-height: 9vw;
		font-weight: bold;
		color: var(--color);
		position: relative;
		margin: 1.8vw 0;
		text-align: center;
		padding-bottom: 1.8vw;
	}
	.standards-div-2, .standards-div-4{
		font-size: 3.6vw;
		color: #333;
		background: #fafafa;
		z-index: 1;
		padding: 0 2.4vw;
		text-align: center;
	}
	.standards-div-1::before{
		content: "";
		position: absolute;
		top: 15vw;
		left: 0;
		width: 100%;
		height: .3vw;
		background: var(--color);
	}
	.standards-div-3::before{
		content: "";
		position: absolute;
		top: 24vw;
		left: 0;
		width: 100%;
		height: .3vw;
		background: var(--color);
	}	
}











#GMA956 .Ni{
	width: 1.7%!important;
}
#G60 .Ni{
	width: 14.8%!important;
}
#G832 .Ni{
	width: 19.1%!important;
}
#G50 .Ni{
	width: 19.5%!important;
}
#G25-6HN .Ni{
	width: 28.65%!important;
}
#G25-6MO .Ni{
	width: 29%!important;
}
#G926 .Ni{
	width: 29%!important;
}
#GA-286 .Ni{
	width: 29.25%!important;
}
#G27-7MO .Ni{
	width: 30%!important;
}
#G783 .Ni{
	width: 30.5%!important;
}
#G31 .Ni{
	width: 32%!important;
}
#G28 .Ni{
	width: 32%!important;
}
#G028 .Ni{
	width: 32.5%!important;
}
#G800 .Ni{
	width: 32.75%!important;
}
#G800H .Ni{
	width: 32.75%!important;
}
#G800HT .Ni{
	width: 32.75%!important;
}
#G864 .Ni{
	width: 33.5%!important;
}
#G803 .Ni{
	width: 33.75%!important;
}
#G020 .Ni{
	width: 34%!important;
}
#G330 .Ni{
	width: 34.25%!important;
}
#G4J36 .Ni{
	width: 34.5%!important;
}
#G907 .Ni{
	width: 35.25%!important;
}
#G909 .Ni{
	width: 35.25%!important;
}
#GDS .Ni{
	width: 35.38%!important;
}
#G903 .Ni{
	width: 35.5%!important;
}
#G706 .Ni{
	width: 36.75%!important;
}
#GG-3 .Ni{
	width: 37.05%!important;
}
#G825 .Ni{
	width: 37.5%!important;
}
#G401 .Ni{
	width: 37.75%!important;
}
#G890 .Ni{
	width: 37.75%!important;
}
#GG-30 .Ni{
	width: 38%!important;
}
#G925 .Ni{
	width: 38.5%!important;
}
#G617 .Ni{
	width: 38.75%!important;
}
#G740H .Ni{
	width: 39.15%!important;
}
#GX .Ni{
	width: 40%!important;
}
#G740 .Ni{
	width: 40.6%!important;
}
#G908 .Ni{
	width: 41%!important;
}
#G945 .Ni{
	width: 41.5%!important;
}
#G105 .Ni{
	width: 41.88%!important;
}
#G718SPF .Ni{
	width: 42.25%!important;
}
#G718 .Ni{
	width: 42.75%!important;
}
#G945X .Ni{
	width: 42.75%!important;
}
#GC .Ni{
	width: 43.5%!important;
}
#G404 .Ni{
	width: 43.75%!important;
}
#G90 .Ni{
	width: 43.75%!important;
}
#GC-22 .Ni{
	width: 44.5%!important;
}
#G686 .Ni{
	width: 44.6%!important;
}
#G725 .Ni{
	width: 45%!important;
}
#GC-276 .Ni{
	width: 45.5%!important;
}
#G625 .Ni{
	width: 45.5%!important;
}
#G625LCF .Ni{
	width: 45.5%!important;
}
#G690 .Ni{
	width: 45.5%!important;
}
#GG-35 .Ni{
	width: 45.5%!important;
}
#G693 .Ni{
	width: 45.9%!important;
}
#GC-2000 .Ni{
	width: 46%!important;
}
#G601 .Ni{
	width: 46.75%!important;
}
#G601GC .Ni{
	width: 46.75%!important;
}
#GC-22HS .Ni{
	width: 47%!important;
}
#GB .Ni{
	width: 47.05%!important;
}
#G81 .Ni{
	width: 47.85%!important;
}
#G400 .Ni{
	width: 48%!important;
}
#GK-500 .Ni{
	width: 48%!important;
}
#GR-405 .Ni{
	width: 48%!important;
}
#GW .Ni{
	width: 48%!important;
}
#GB-2 .Ni{
	width: 48.6%!important;
}
#G86 .Ni{
	width: 48.95%!important;
}
#G86 .Ni{
	width: 48.95%!important;
}
#GB-3 .Ni{
	width: 49%!important;
}
#GC-4 .Ni{
	width: 49%!important;
}
#G502 .Ni{
	width: 49.75%!important;
}
#GS .Ni{
	width: 50%!important;
}
#GMA758 .Ni{
	width: 50.3%!important;
}
#GX-750 .Ni{
	width: 51%!important;
}
#G80A .Ni{
	width: 51.15%!important;
}
#G751 .Ni{
	width: 51.5%!important;
}
#GN .Ni{
	width: 52%!important;
}
#G600 .Ni{
	width: 52.5%!important;
}
#G75 .Ni{
	width: 52.75%!important;
}
#G603XL .Ni{
	width: 53.15%!important;
}
#GMA754 .Ni{
	width: 55.5%!important;
}
.Ni{
	background-color: #32558e!important;
}