.monel-point::before{
	background-color: #8d7f62;
}
.inconel-point::before{
	background-color: #936b51;
}
.incoloy-point::before{
	background-color: #736c6d;
}
.hastelloy-point::before{
	background-color: #7c7f74;
}
.monel-point{
	color: #8d7f62;
}
.inconel-point{
	color: #936b51;
}
.incoloy-point{
	color: #736c6d;
}
.hastelloy-point{
	color: #7c7f74;
}


@media screen and (min-width: 600px) {
	.small-img{
		width: 40vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
		margin: .8vw 0;
	}
	.small-img > img{
		height: 8vw;
	}
	.grade-point{
		display: flex;
		margin: .5vw 0;
		width: 40vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	.grade-point > a{
		font-size: 1.5vw;
		margin: 0 1.5vw;
		line-height: 3vw;
		font-weight: bold;
		position: relative;
	}
	.grade-point > a::before{
		content: "";
		width: 1vw;
		height: 1vw;
		border-radius: 1vw;
		position: absolute;
		left: -1.5vw;
		top: 1vw;
	}
	h4{
		width: 40vw;
		font-size: 1.5vw;
		margin: 0;
		padding: 0;
		margin-top: 1vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	.main-a{
		width: 40vw;
		font-size: 1.3vw;
		margin: 0;
		padding: 0;
		margin-bottom: 1vw;
		margin-top: 1vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
		text-decoration: underline;
	}
	.products-point{
		display: flex;
		flex-wrap: wrap;
		margin: .5vw 0 1vw 0;
		width: 40vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
	}
	.products-point > a{
		display: flex;
		height: 2.5vw;
		padding: .3vw;
		align-items: center;
		background-color: #eee;
		border-radius: 5vw;
		font-size: 1.3vw;
		font-weight: bold;
		margin-right: 1vw;
		margin-top: 1vw;
		transition: all .2s;
	}
	.products-point > a:hover{
		background-color: #333;
		color: #fff;
	}
	.products-point > a > img{
		width: 2.2vw;
		background-color: #eee;
		border-radius: 2.2vw;
	}
	.products-point > a > div{
		margin: 0 1vw 0 .5vw;
	}
	.email-div{
		width: 20vw;
		height: 3vw;
		align-items: center;
		background: linear-gradient(105deg, #8653ea 0%, #7053ea 20%, #535aea 40%, #5385ea 60%, #4fabde 80%, #50aadc 100%);		border-radius: 5vw;
		font-size: 1.5vw;
		font-weight: bold;
		line-height: 3vw;
		text-align: center;
		animation: line4 1s backwards;
		animation-delay: .3s;
		color: #fff;
		margin: 1vw 0;
		margin-right: 20vw;
	}
}





















@media screen and (max-width: 600px) {
	.small-img{
		width: 100vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
		margin: 5vw 0;
	}
	.small-img > img{
		width: 80vw;
		margin: 0 10vw;
	}
	.grade-point{
		display: flex;
		margin: 1.5vw 7.5vw;
		width: 85vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
		justify-content: center;
		flex-wrap: wrap;
	}
	.grade-point > a{
		font-size: 4.5vw;
		margin: 0 4.5vw;
		line-height: 9vw;
		font-weight: bold;
		position: relative;
	}
	.grade-point > a::before{
		content: "";
		width: 3vw;
		height: 3vw;
		border-radius: 3vw;
		position: absolute;
		left: -4.5vw;
		top: 3vw;
	}
	h3{
		font-size: 7vw!important;		
	}
	h4{
		width: 85vw;
		font-size: 4.5vw;
		margin: 0 7.5vw;
		padding: 0;
		margin-top: 3vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
		text-align: center;
	}
	.main-a{
		display: block;
		width: 85vw;
		font-size: 3.9vw;
		margin: 3vw 7.5vw 6vw 7.5vw;
		padding: 0;
		animation: line4 1s backwards;
		animation-delay: .3s;
		text-decoration: underline;
		text-align: center;
	}
	.products-point{
		display: flex;
		flex-wrap: wrap;
		margin: 1.5vw 7.5vw 6vw 7.5vw;
		width: 85vw;
		animation: line4 1s backwards;
		animation-delay: .3s;
		justify-content: center;
	}
	.products-point > a{
		display: flex;
		height: 7.5vw;
		padding: .9vw;
		align-items: center;
		background-color: #eee;
		border-radius: 15vw;
		font-size: 3.9vw;
		font-weight: bold;
		margin-right: 3vw;
		margin-top: 3vw;
		transition: all .2s;
	}
	.products-point > a:hover{
		background-color: #333;
		color: #fff;
	}
	.products-point > a > img{
		width: 6.6vw;
		background-color: #eee;
		border-radius: 6.6vw;
	}
	.products-point > a > div{
		margin: 0 3vw 0 1.5vw;
	}
	.email-div{
		width: 60vw;
		height: 9vw;
		align-items: center;
		background: linear-gradient(105deg, #8653ea 0%, #7053ea 20%, #535aea 40%, #5385ea 60%, #4fabde 80%, #50aadc 100%);		border-radius: 5vw;
		font-size: 4.5vw;
		font-weight: bold;
		line-height: 9vw;
		text-align: center;
		animation: line4 1s backwards;
		animation-delay: .3s;
		color: #fff;
		margin: 3vw 0;
		margin: 3vw 20vw;
	}
}
