@keyframes ta{
	0%{transform: skew(-15deg) translate(-50vw, 0); opacity: 0;}
	100%{transform: skew(-15deg) translate(0, 0); opacity: .5;}
}
@keyframes tb{
	0%{transform: skew(-15deg) translate(50vw, 0); opacity: 0;}
	100%{transform: skew(-15deg) translate(0, 0); opacity: .5;}
}
@keyframes tc{
	0%{transform: translate(-50vw, 0);}
	100%{transform: translate(0, 0);}
}
@keyframes td{
	0%{transform: translate(0, 50vw); opacity: 0;}
	100%{transform: translate(0, 0); opacity: 1;}
}


@media screen and (min-width: 600px) {
	main p{
		text-align: center;
	}
	#g-head{
		width: 100vw;
		padding: 12vw 0 6vw 0;
		overflow: hidden;
	}
	#g-head > h1{
		width: 100vw;
		text-align: center;
		position: relative;
	}
	#g-head > h1 > span{
		color: #333;
		height: 3vw;
		position: relative;
		line-height: 3vw;
		font-size: 5vw;
		z-index: 1;
	}
	#g-head > h1::before{
		content: "";
		display: block;
		width: 63vw;
		height: 13vw;
		background-color: #eee;
		transform: skew(-15deg);
		position: absolute;
		top: -3vw;
		left: 0vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	#g-head > h1::after{
		content: "";
		display: block;
		width: 63vw;
		height: 13vw;
		background-color: #eee;
		transform: skew(-15deg);
		position: absolute;
		bottom: -3vw;
		right: 0vw;
		opacity: .5;
		animation: tb 1s backwards;
	}
	#breadol{
	    width: 100vw;
	    display: flex;
	    align-content: center;
	    justify-content: center;
	    list-style: none;
	    position: relative;
	    padding: 2vw 0 0 0;
	    margin: 0;
	    z-index: 1;
	}
	#breadol li{
	    font-size: 1.2vw;
	    color: #333;
	    line-height: 1vw;
	    display: flex;
	}
	#breadol li a{
	    color: #333;
	    margin-right: 2vw;
	    display: block;
	    position: relative;
	}
	#breadol li a::after{
		content: "";
		display: block;
		width: .2vw;
		height: 1vw;
		background-color: #333;
		transform: skew(-15deg);
		position: absolute;
		top: 0vw;
		right: -1.1vw;		
	}
	#media-page{
		position: relative;
		animation: line4 2s backwards;
		margin: 8vw 0;
	}
	#media-2{		
		padding-top: 1vw;
	}
	#media-class{
		width: 100vw;
		height: 25vw;
		display: flex;
		justify-content: center;
		position: relative;
	}
	#left-arrow{
		flex-grow: 1;
		cursor: pointer;
		position: relative;
		transition: all .3s;
		z-index: 2;
		user-select: none;
	}
	#left-arrow > img{
		width: 2vw;
		position: absolute;
		top: 10.5vw;
		left: 4.5vw;
	}
	#right-arrow{
		flex-grow: 1;
		cursor: pointer;
		position: relative;
		transition: all .3s;
		z-index: 1;
		user-select: none;
	}
	#right-arrow > img{
		width: 2vw;
		transform: rotate(180deg);
		position: absolute;
		top: 10.5vw;
		left: 5.5vw;
	}
	#class-middle{
		width: 75vw;
		height: 25vw;
		z-index: 1;
		position: relative;
		animation: tc 2s backwards;
	}
	#class-middle > a{
		display: block;
		width: 75vw;
		height: 25vw;
		position: absolute;
		left: 0;
		top: 0;
		transition: all .5s;
		overflow: hidden;
		transform-origin: center;
	}
	#class-middle > a > div{
		display: block;
		width: 75vw;
		height: 25vw;
		position: absolute;
		left: 0;
		top: 0;
		transform: skew(15deg);
	}
	#class-middle > a:nth-child(1){
		transform: translate(0, 0) skew(-15deg);
		opacity: 1;
		pointer-events: inherit;
		z-index: 1;
	}
	#class-middle > a:nth-child(2){
		transform: translate(77vw, 0) skew(-15deg);
		opacity: 1;
		pointer-events: none;
	}
	#class-middle > a:nth-child(3){
		transform: translate(154vw, 0) skew(-15deg);
		opacity: 0;
		pointer-events: none;
	}
	#class-middle > a:nth-child(4){
		transform: translate(154vw, 0) skew(-15deg);
		opacity: 0;
		pointer-events: none;
	}
	#class-middle > a:nth-child(5){
		transform: translate(-154vw, 0) skew(-15deg);
		opacity: 0;
		pointer-events: none;
	}
	#class-middle > a:nth-child(6){
		transform: translate(-77vw, 0) skew(-15deg);
		opacity: 1;
		pointer-events: none;
	}
	#class-middle > a:hover .class-bg{
		filter: blur(1vw);
		transform: translate(-3.4vw, 0) scale(1.1);
	}
	.class-bg{
		width: 81.8vw;
		transform: translate(-3.4vw, 0) scale(1);
		transform-origin: 50%, 50%;
		transition: all .5s;
	}


	.class-h{
		position: absolute;
		color: white;
		font-size: 2.5vw;
		top: 4vw;
		left: 18vw;
		width: 26vw;
		text-shadow: .2vw .2vw .2vw #333;
	}
	.class-p{
		position: absolute;
		color: white;
		font-size: 1.5vw;
		left: 11vw;
		top: 13vw;
		width: 50vw;
		transition: all 1s;	
		text-align: left;
		text-shadow: .2vw .2vw .2vw #333;
		text-align: justify;
	}


	
	#alloy-knowledge .ic1{
		width: 5vw;
		position: absolute;
		left: 11vw;
		top: 7vw;
		transition: all 1s;
		transform: translate(0, -0vw);
	}
	#alloy-knowledge .ic0{
		width: 5vw;
		position: absolute;
		left: 11vw;
		top: 7vw;
		transition: all 1s;
		transform: rotateY(0deg);
		transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		animation: sk 1.5s;
		animation-iteration-count: infinite;
	}
	.sk5{
		transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		perspective: 1000;
		-o-perspective: 1000;
		-moz-perspective: 1000;
		-webkit-perspective: 1000;
		perspective-origin: 50% 50%;
		-o-perspective-origin: 50% 50%;
		-moz-perspective-origin: 50% 50%;
		-webkit-perspective-origin: 50% 50%;
		transform: perspective(1000vw) rotateY(0deg);
		-o-transform: perspective(1000vw) rotateY(0deg);
		-moz-transform: perspective(1000vw) rotateY(0deg);
		-webkit-transform: perspective(1000vw) rotateY(0deg);
		position: absolute;
		top: 0;
	}
	
	@keyframes sk{
		0%{transform: rotateY(0deg);}
		100%{transform: rotateY(-180deg);}
	}


	
	#applications .ic2{
		width: 6.3vw;
		position: absolute;
		left: 10vw;
		top: 4.5vw;
		transition: all 1s;
	}
	#applications #app1{
		animation: app 1.5s;
		animation-iteration-count: infinite;
	}
	@keyframes app{
		0%{opacity: 1; transform: translateY(0px); }
		100%{opacity: 0; transform: translateY(-5vw);}
	}

	
	#metal-technology .ic1{
		top: 7.2vw;
		left: 11vw;
		animation: rotate 5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	#metal-technology-logo{
		position: absolute;
		width: 4.5vw;
		height: auto;
		margin-top: -0.4vw;
		margin-left: 0.3vw;
	}
	@keyframes rotate{
		0% {transform: rotate(0deg);}
		100% {transform: rotate(360deg);}
	}


	
	#element-logo{
		position: absolute;
		width: 5vw;
		height: auto;
		margin-top: 2.3vw;
		margin-left: 0.6vw;
	}
	.element-2{
		animation: rotate 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 115px 115px;
	}
	.element-1{
		animation: rotate 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 115px 115px;
		animation-direction: reverse;
	}
	#chemical-element .ic2{
		width: 5vw;
		position: absolute;
		left: 10.5vw;
		top: 4vw;
		transition: all 1s;
	}



	
	#newsletter .ic1{
		top: 7.5vw;
		left: 12vw;
		animation: newsletter 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	#newsletter-logo{
		position: absolute;
		width: 3.5vw;
		height: auto;
		margin-top: -2vw;
		margin-left: 0.54vw;
	}

	@keyframes newsletter{
		0% {transform: translateY(0);}
		50% {transform: translateY(-0.7vw);}
		100% {transform: translateY(0);}
	}


	
	#leads .ic2{
		width: 4vw;
		position: absolute;
		left: 10.5vw;
		top: 3.2vw;
		transition: all 1s;
	}
	#leads-logo{
		position: absolute;
		width: 4vw;
		height: auto;
		margin-top: 3vw;
		margin-left: 1.5vw;
	}
	#leads .leads-1{
		animation: scalea 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 100% 100%;
	}
	#leads .leads-2{
		animation: scaleb 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 100% 100%;
	}
	#leads .leads-3{
		animation: scalec 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 100% 100%;
	}
	#leads .leads-4{
		animation: scaled 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 100% 100%;
	}
	@keyframes scalea{
		0%{transform: scale(1, 1);}
		50%{transform: scale(1, 0.5);}
		100%{transform: scale(1, 1);}
	}
	@keyframes scaleb{
		0%{transform: scale(1, 1);}
		50%{transform: scale(1, 1.3);}
		100%{transform: scale(1, 1);}
	}
	@keyframes scalec{
		0%{transform: scale(1, 1);}
		50%{transform: scale(1, 1.7);}
		100%{transform: scale(1, 1);}
	}
	@keyframes scaled{
		0%{transform: scale(1, 1);}
		50%{transform: scale(1, 1.4);}
		100%{transform: scale(1, 1);}
	}




	.point{
		width: 1vw;
		height: 1vw;
		border-radius: 1vw;
		background-color: #32558e;
		position: relative;
	}
	#media-2 > h2{
		width: 100vw;
		position: relative;
		left: 0vw;
		text-align: center;
		font-size: 2vw;
		height: 3vw;
		margin: 2vw 0;
	}
	#media-2 > h2 > span{
		color: #fff;
		height: 3vw;
		position: relative;
		line-height: 3vw;
	}
	#media-2 > h2::before{
		content: "";
		display: block;
		width: 26vw;
		height: 3vw;
		background-color: #555;
		transform: skew(-15deg);
		position: absolute;
		top: 0;
		left: 37vw;
	}

	@keyframes line3{
		0%{transform: translate(30vw, 0); opacity: 0;}
		100%{transform: translate(0, 0); opacity: 1;}
	}
	
	#media-page{
		overflow: hidden;
		position: relative;
		animation: line4 2s backwards;
	}
	#media-latest > .point{
		margin: 2vw 16vw;
	}
	.media-blog{
		width: 90vw;
		height: 15vw;
		position: relative;
		margin: 1vw 5vw;
		animation: line3 backwards 1s;
		animation-delay: 0.3s;
	}
	.media-blog::before{
		content: "";
		width: 9vw;
		height: 18vw;
		background-color: #eee;
		position: absolute;
		left: 80vw;
		top: -1.5vw;
		transform: skew(-15deg) scale(1, 1);
		opacity: .5;
		transform-origin: right;
		transition: all .2s;
	}
	.media-blog:hover::before{
		transform: skew(-15deg) scale(8, 1);
	}
	.media-blog > a{
		width: 95vw;
		height: 15vw;
		position: absolute;
		left: 0vw;
		top: 0;
	}
	.media-blog > a > img{
		height: 15vw;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 1vw;
	}
	.media-blog > a > h4{
		font-size: 2.5vw;
		width: 65vw;
		margin: 0;
		line-height: 2vw;
		position: absolute;
		left: 25vw;
		top: 1vw;
	}
	.media-p{
		font-size: 1.3vw;
		width: 50vw;
		line-height: 1.9vw;
		position: absolute;
		left: 25vw;
		top: 4.5vw;
		text-align: justify;
	}
	.media-time{
		font-size: 1vw;
		line-height: 2vw;
		position: absolute;
		right: 10vw;
		top: 13vw;
	}
	.media-div{
		font-size: 1.2vw;
		width: 10vw;
		height: 2vw;
		color: #32558e;
		border: solid .2vw #32558e;
		border-radius: 2vw;
		line-height: 2vw;
		position: absolute;
		text-align: center;
		left: 25vw;
		top: 12vw;
		font-weight: bold;
	}


	#page{
		width: 100vw;
		margin: 8vw 0 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#page > div, #page > a{
		margin: 0 .5vw;
		font-size: 1.2vw;
		line-height: 1.2vw;
	}
	#page > a{
		font-weight: bold;
	}
}





















@media screen and (max-width: 600px) {
	main{
		padding: 20vw 0 0 0;
	}
	#g-head{
		width: 100vw;
		overflow: hidden;
		padding: 24vw 0 12vw 0;
	}
	#g-head > h1{
		width: 100vw;
		text-align: center;
		position: relative;
	}
	#g-head > h1 > span{
		color: #333;
		height: 9vw;
		position: relative;
		line-height: 9vw;
		font-size: 15vw;
		z-index: 1;
	}
	#g-head > h1::before{
		content: "";
		display: block;
		width: 90vw;
		height: 26vw;
		background-color: #eee;
		transform: skew(-15deg);
		position: absolute;
		top: -12vw;
		left: 0vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	#g-head > h1::after{
		content: "";
		display: block;
		width: 90vw;
		height: 26vw;
		background-color: #eee;
		transform: skew(-15deg);
		position: absolute;
		bottom: -12vw;
		right: 0vw;
		opacity: .5;
		animation: tb 1s backwards;
	}
	#breadol{
	    width: 100vw;
	    display: flex;
	    align-content: center;
	    justify-content: center;
	    list-style: none;
	    position: relative;
	    padding: 6vw 0 0 0;
	    margin: 0;
	    z-index: 1;
	}
	#breadol li{
	    font-size: 3.6vw;
	    color: #333;
	    line-height: 3vw;
	    display: flex;
	}
	#breadol li a{
	    color: #333;
	    margin-right: 6vw;
	    display: block;
	    position: relative;
	}
	#breadol li a::after{
		content: "";
		display: block;
		width: .6vw;
		height: 3vw;
		background-color: #333;
		transform: skew(-15deg);
		position: absolute;
		top: 0vw;
		right: -3.3vw;		
	}
	

	#media-page{
		position: relative;
		width: 100vw;
		overflow: hidden;
	}
	#media-2{		
		padding-top: 3vw;
		width: 100vw;
		overflow: hidden;
		animation: td 1s backwards;
	}
	#media-class{
		position: relative;
		padding: 5vw 0;
	}
	#left-arrow, #right-arrow{
		display: none;
	}
	#class-middle{
		width: 828vw;
		display: flex;
		justify-content: space-between;
		z-index: 1;
		position: relative;
		animation: tc 2s backwards;
		left: -104vw;
	}
	#class-middle::before, #class-middle::after{
		content: "";
		display: block;
		width: 100vw;
		height: 90vw;
		position: relative;
		transition: all .3s;
		overflow: hidden;
		transform: skew(-15deg);
		background-color: #333;
	}
	#class-middle > a{
		display: block;
		width: 100vw;
		height: 90vw;
		position: relative;
		transition: all .3s;
		overflow: hidden;
		transform: skew(-15deg);
		transform-origin: center;
	}
	#class-middle > a > div{
		transform: skew(15deg);
	}
	.class-bg{
		height: 90vw;
		transform: translate(-17vw, 0) scale(1);
		transform-origin: 50%, 50%;
		transition: all .5s;
		filter: brightness(.6);
	}
	#class-dot{
		width: 100vw;
		position: absolute;
		left: 0;
		bottom: 15vw;
		pointer-events: none;
		display: flex;
		justify-content: center;
		z-index: 2;
	}
	#class-dot > div{
		width: 2vw;
		height: 2vw;
		background-color: #fff;
		margin: 2vw;
		border-radius: 2vw;
		opacity: .5;
		transition: opacity .2s;
	}
	#class-dot > div:nth-child(1){
		opacity: 1;
	}


	.class-h{
		position: absolute;
		color: white;
		font-size: 7.5vw;
		left: 15vw;
		top: 16vw;
		width: 70vw;
		text-align: center;
	}
	.class-p{
		position: absolute;
		color: white;
		font-size: 4.5vw;
		left: 12.5vw;
		top: 40vw;
		width: 75vw;
		transition: all 1s;	
		text-align: left;
		text-align: justify;
	}


	#alloy-knowledge{
		opacity: 1;
		pointer-events: inherit;
	}
	#alloy-knowledge .ic1{
		width: 15vw;
		position: absolute;
		left: 42.5vw;
		top: 13vw;
		transition: all 1s;
		transform: translate(0, -0vw);
	}
	#alloy-knowledge .ic0{
		width: 15vw;
		position: absolute;
		left: 42.5vw;
		top: 13vw;
		transition: all 1s;
		transform: rotateY(0deg);
		transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		animation: sk 1.5s;
		animation-iteration-count: infinite;
	}
	.sk5{
		transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		perspective: 1000;
		-o-perspective: 1000;
		-moz-perspective: 1000;
		-webkit-perspective: 1000;
		perspective-origin: 50% 50%;
		-o-perspective-origin: 50% 50%;
		-moz-perspective-origin: 50% 50%;
		-webkit-perspective-origin: 50% 50%;
		transform: perspective(1000vw) rotateY(0deg);
		-o-transform: perspective(1000vw) rotateY(0deg);
		-moz-transform: perspective(1000vw) rotateY(0deg);
		-webkit-transform: perspective(1000vw) rotateY(0deg);
		position: absolute;
		top: 0;
	}
	
	@keyframes sk{
		0%{transform: rotateY(0deg);}
		100%{transform: rotateY(-180deg);}
	}


	#applications{
	}
	#applications .ic2{
		width: 18vw;
		position: absolute;
		left: 41vw;
		top: 5.5vw;
		transition: all 1s;
	}
	#applications #app1{
		animation: app 1.5s;
		animation-iteration-count: infinite;
	}
	@keyframes app{
		0%{opacity: 1; transform: translateY(0px); }
		100%{opacity: 0; transform: translateY(-5vw);}
	}

	#metal-technology{
	}
	#metal-technology .ic1{
		top: 12vw;
		left: 43.25vw;
		animation: rotate 5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	#metal-technology-logo{
		position: absolute;
		width: 13.5vw;
		height: auto;
		margin-top: -0.4vw;
		margin-left: 0.3vw;
	}
	@keyframes rotate{
		0% {transform: rotate(0deg);}
		100% {transform: rotate(360deg);}
	}


	#chemical-element{
	}
	#element-logo{
		position: absolute;
		width: 15vw;
		height: auto;
		margin-top: 2.3vw;
		margin-left: 0.6vw;
	}
	.element-2{
		animation: rotate 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 115px 115px;
	}
	.element-1{
		animation: rotate 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 115px 115px;
		animation-direction: reverse;
	}
	#chemical-element .ic2{
		width: 15vw;
		position: absolute;
		left: 42.5vw;
		top: 8.5vw;
		transition: all 1s;
	}



	#newsletter{
	}
	#newsletter .ic1{
		top: 9.5vw;
		left: 44.75vw;
		animation: newsletter 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	#newsletter-logo{
		position: absolute;
		width: 10.5vw;
		height: auto;
		margin-top: -2vw;
		margin-left: 0.54vw;
	}

	@keyframes newsletter{
		0% {transform: translateY(0);}
		50% {transform: translateY(-0.7vw);}
		100% {transform: translateY(0);}
	}


	#leads{
	}
	#leads .ic2{
		width: 12vw;
		position: absolute;
		left: 42.5vw;
		top: 9vw;
		transition: all 1s;
	}
	#leads-logo{
		position: absolute;
		width: 12vw;
		height: auto;
		margin-top: 3vw;
		margin-left: 1.5vw;
	}
	#leads .leads-1{
		animation: scalea 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 100% 100%;
	}
	#leads .leads-2{
		animation: scaleb 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 100% 100%;
	}
	#leads .leads-3{
		animation: scalec 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 100% 100%;
	}
	#leads .leads-4{
		animation: scaled 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform-origin: 100% 100%;
	}
	@keyframes scalea{
		0%{transform: scale(1, 1);}
		50%{transform: scale(1, 0.5);}
		100%{transform: scale(1, 1);}
	}
	@keyframes scaleb{
		0%{transform: scale(1, 1);}
		50%{transform: scale(1, 1.3);}
		100%{transform: scale(1, 1);}
	}
	@keyframes scalec{
		0%{transform: scale(1, 1);}
		50%{transform: scale(1, 1.7);}
		100%{transform: scale(1, 1);}
	}
	@keyframes scaled{
		0%{transform: scale(1, 1);}
		50%{transform: scale(1, 1.4);}
		100%{transform: scale(1, 1);}
	}


	
	#media-2 > h2{
		width: 80vw;
		position: relative;
		left: 10vw;
		text-align: center;
		font-size: 6vw;
		height: 9vw;
		padding-bottom: 9vw;
	}
	#media-2 > h2 > span{
		color: #fff;
		height: 9vw;
		position: relative;
		line-height: 9vw;
	}
	#media-2 > h2::before{
		content: "";
		display: block;
		width: 60vw;
		height: 9vw;
		background-color: #555;
		transform: skew(-15deg);
		position: absolute;
		top: 0;
		left: 10vw;
	}
	.point{
		width: 3vw;
		height: 3vw;
		border-radius: 3vw;
		background-color: #32558e;
		position: relative;
	}
	#media-latest > .point{
		margin-left: 5vw;
	}
	#media-latest > .point::after{
		content: "";
		height: .3vw;
		width: 80vw;
		background: #32558e;
		position: absolute;
		left: 6vw;
		top: 1.3vw;
		border-radius: 3vw;
	}
	.media-blog{
		width: 100vw;
		position: relative;
		margin: 5vw 0;
		overflow: hidden;
	}
	.media-blog > a{
		display: block;
		width: 90vw;
		height: 100%;
		position: relative;
		margin: 0 5vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.media-blog > a > img{
		width: 90vw;
		height: 60vw;
		position: relative;
		border-radius: 3vw;
		left: 0;
		top: 0;
	}
	.media-blog > a > h4{
		font-size: 7.5vw;
		width: 85vw;
		margin: 3vw 2.5vw;
		line-height: 9vw;
	}
	.media-p{
		font-size: 4.5vw;
		width: 85vw;
		margin: 0 2.5vw;
		line-height: 6vw;
		text-align: justify;
	}
	.media-time{
		width: 30vw;
		height: 9.6vw;
		font-size: 4vw;
		line-height: 9.6vw;
		margin: 5vw 2.5vw;
	}
	.media-div{
		font-size: 4.8vw;
		width: 40vw;
		height: 8vw;
		border: solid .8vw #32558e;
		border-radius: 8vw;
		line-height: 8vw;
		text-align: center;
		font-weight: bold;
		margin: 5vw 2.5vw;
		color: #32558e;
	}


	#page{
		width: 100vw;
		margin: 8vw 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#page > div, #page > a{
		margin: 0 2vw;
		font-size: 4.8vw;
		line-height: 4.8vw;
	}
	#page > a{
		font-weight: bold;
	}
}








