.monel-point::before{
	background-color: #8d7f62;
}
.inconel-point::before{
	background-color: #936b51;
}
.incoloy-point::before{
	background-color: #736c6d;
}
.hastelloy-point::before{
	background-color: #7c7f74;
}
.monel-point{
	color: #8d7f62;
}
.inconel-point{
	color: #936b51;
}
.incoloy-point{
	color: #736c6d;
}
.hastelloy-point{
	color: #7c7f74;
}
@media screen and (min-width: 600px) {
	@keyframes translate{
		0%{transform: translate(50vw, 0); opacity: 0;}
		100%{transform: translate(0, 0); opacity: 1;}
	}
	@keyframes opacity{
		0%{opacity: 0;}
		100%{opacity: 1;}
	}

	main{
		background-color: #333333;
		background-image: url(image/nickel-alloy.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	#main-pro{
		width: 100vw;
		height: calc(100vh - 8vw);
		display: flex;
		align-items: center;
		overflow: hidden;
	}
	#main-text{
		padding-left: 8vw;
	}
	#main-text > h1{
		font-size: 4.2vw;
		color: #fff;
		line-height: 3.2vw;
		transform: translate(0, 0);
		animation: translate 1s;
		animation-fill-mode: backwards;
	}
	#main-text > h1 > span{
		font-size: 2.2vw;
	}
	.grade-point{
		width: 50vw;
		display: flex;
		margin: 1.5vw 1vw;
		animation: translate 1s;
		animation-delay: .2s;
		animation-fill-mode: backwards;
		position: relative;
	}
	.grade-point::before{
		content: "";
		width: 36vw;
		height: 3vw;
		background-color: rgba(255, 255, 255, .6);
		position: absolute;
		left: -1vw;
		top: 0vw;
		transform: skew(-15deg);
	}
	.grade-point > a{
		font-size: 1.5vw;
		margin: 0 1.5vw;
		line-height: 3vw;
		font-weight: bold;
		position: relative;
	}
	.grade-point > a::before{
		content: "";
		width: 1vw;
		height: 1vw;
		border-radius: 1vw;
		position: absolute;
		left: -1.5vw;
		top: 1vw;
	}
	#contactbutton{
		border-radius: 25vw;
		width: 25vw;
		height: 4vw;
		position: relative;
		background: linear-gradient(105deg, #8653ea 0%, #7053ea 20%, #535aea 40%, #5385ea 60%, #4fabde 80%, #50aadc 100%);
		box-shadow: 0.5vw 0.5vw 2vw #666;
		cursor: pointer;
		transition: all 0.5s;
		transform: translate(0, 0);
		opacity: 1;
		overflow: hidden;
		margin: 2vw 0;
		animation: translate 1s;
		animation-delay: .4s;
		animation-fill-mode: backwards;
	}
	#contactbutton:hover{
		transform: translate(0, -0.5vw);
	}
	#contactbutton img{
		width: 4vw;
		position: absolute;
		top: 0vw;
		left: 1.5vw;
	}
	#contactbutton p{
		position: absolute;
		font-weight: bold;
		font-size: 1.8vw;
		color: #fff;
		top: 1vw;
		left: 6vw;
		display: block;
		width: 20vw;
		line-height: 2vw;
	}

	#main-photo{
		position: relative;
		height: 10vw;
		animation: opacity 1.5s;
		animation-delay: .6s;
		animation-fill-mode: backwards;
	}
	#main-photo::before{
		content: "";
		width: 100vw;
		height: 100vw;
		position: absolute;
		background-color: #fff;
		border-radius: 120vw;
		opacity: .5;
		top: -45vw;
		left: -3vw;
	}
	#main-photo > picture{
		width: 15vw;
		height: 10vw;
		position: absolute;
		animation: circle2 80s linear infinite;
		transform-origin: 48vw 50%;
	}
	#main-photo > picture > img{
		width: 15vw;
		height: 10vw;
		border-radius: .6vw;
		box-shadow: 0vw 1vw 3vw #333333;
		position: absolute;
	}

	

	#main-photo > picture:nth-child(1){
	}
	#main-photo > picture:nth-child(2){
		animation-delay: -4s;
	}
	#main-photo > picture:nth-child(3){
		animation-delay: -8s;
	}
	#main-photo > picture:nth-child(4){
		animation-delay: -12s;
	}
	#main-photo > picture:nth-child(5){
		animation-delay: -16s;
	}
	#main-photo > picture:nth-child(6){
		animation-delay: -20s;
	}
	#main-photo > picture:nth-child(7){
		animation-delay: -24s;
	}
	#main-photo > picture:nth-child(8){
		animation-delay: -28s;
	}
	#main-photo > picture:nth-child(9){
		animation-delay: -32s;
	}
	#main-photo > picture:nth-child(10){
		animation-delay: -36s;
	}
	#main-photo > picture:nth-child(11){
		animation-delay: -40s;
	}
	#main-photo > picture:nth-child(12){
		animation-delay: -44s;
	}
	#main-photo > picture:nth-child(13){
		animation-delay: -48s;
	}
	#main-photo > picture:nth-child(14){
		animation-delay: -52s;
	}
	#main-photo > picture:nth-child(15){
		animation-delay: -56s;
	}
	#main-photo > picture:nth-child(16){
		animation-delay: -60s;
	}
	#main-photo > picture:nth-child(17){
		animation-delay: -64s;
	}
	#main-photo > picture:nth-child(18){
		animation-delay: -68s;
	}
	#main-photo > picture:nth-child(19){
		animation-delay: -72s;
	}
	#main-photo > picture:nth-child(20){
		animation-delay: -76s;
	}

	@keyframes circle{
		0%{transform: translate(-26vw, 0); z-index: 10;}
		5%{transform: translate(-24.73vw, 8.03vw); z-index: 9;}
		10%{transform: translate(-21.03vw, 15.29vw); z-index: 8;}
		15%{transform: translate(-15.29vw, 21.03vw); z-index: 7;}
		20%{transform: translate(-8.03vw, 24.73vw); z-index: 6;}
		25%{transform: translate(0, 26vw); z-index: 5;}
		30%{transform: translate(8.03vw, 24.73vw); z-index: 4;}
		35%{transform: translate(15.29vw, 21.03vw); z-index: 3;}
		40%{transform: translate(21.03vw, 15.29vw); z-index: 2;}
		55%{transform: translate(24.73vw, 8.03vw); z-index: 1;}
		50%{transform: translate(26vw, 0); z-index: 1;}
		55%{transform: translate(24.73vw, -8.03vw); z-index: 1;}
		60%{transform: translate(21.03vw, -15.29vw); z-index: 2;}
		65%{transform: translate(15.29vw, -21.03vw); z-index: 3;}
		70%{transform: translate(8.03vw, -24.73vw); z-index: 4;}
		75%{transform: translate(0, -26vw); z-index: 5;}
		80%{transform: translate(-8.03vw, -24.73vw); z-index: 6;}
		85%{transform: translate(-15.29vw, -21.03vw); z-index: 7;}
		90%{transform: translate(-21.03vw, -15.29vw); z-index: 8;}
		95%{transform: translate(-24.73vw, -8.03vw); z-index: 9;}
		100%{transform: translate(-26vw, 0); z-index: 10;}
	}

	@keyframes circle2{
		0%{transform: rotate(0deg);}
		5%{transform: rotate(18deg);}
		10%{transform: rotate(36deg);}
		15%{transform: rotate(54deg);}
		20%{transform: rotate(72deg);}
		25%{transform: rotate(90deg);}
		30%{transform: rotate(108deg);}
		35%{transform: rotate(126deg);}
		40%{transform: rotate(144deg);}
		55%{transform: rotate(162deg);}
		50%{transform: rotate(180deg);}
		55%{transform: rotate(198deg);}
		60%{transform: rotate(216deg);}
		65%{transform: rotate(234deg);}
		70%{transform: rotate(252deg);}
		75%{transform: rotate(270deg);}
		80%{transform: rotate(288deg);}
		85%{transform: rotate(306deg);}
		90%{transform: rotate(324deg);}
		95%{transform: rotate(342deg);}
		100%{transform: rotate(360deg);}
	}

	#main-product{
		position: absolute;
		left: 22vw;
		top: -8vw;
	}
	#main-product > a{
		display: block;
		display: flex;
		margin: 1.5vw 0;
		align-items: center;
		transform: translate(0, 0);
		transition: all .3s;
	}
	#main-product > a:hover{
		transform: translate(-.5vw, 0);
	}
	#main-product > a > p{
		color: #333;
		font-size: 1.8vw;
		font-weight: bold;
		width: 20vw;
		padding-left: 1vw;
		line-height: 1.8vw;
	}
	.main-logo{
		width: 3vw;
	}
	#moredetail{
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: 2.5vw;
		left: 10vw;
		opacity: 0.8;
		cursor: pointer;
	}
	#moredetail::before{
		content: "";
		width: 0vw;
		height: 0vw;
		border-style: solid;
		border-color: transparent transparent #fff;
		border-width: 0 0.6vw 0.6vw;
		position: absolute;
		left: 0;
		top: -.25vw;
		transform: scale(.7, 1) rotate(180deg);
		transition: all 0.3s;
	}
	#moredetail p{
		line-height: 0;
		display: block;
		color: white;
		font-size: 1.2vw;
		font-weight: bold;
		position: absolute;
		left: 1.8vw;	
		margin: 0;
		padding: 0;
		width: 10vw;
	}
	#text-text{
		width: 80vw;
		margin: 5vw 10vw;
		font-size: 1.3vw;
		line-height: 2vw;
		color: #fff;
		text-align: justify;
		text-shadow: .5vw .5vw .5vw #333;
	}
	#breadol{
	    width: 40vw;
	    display: flex;
	    align-content: center;
	    justify-content: flex-start;
	    list-style: none;
	    position: relative;
	    padding: 0;
	    margin: 0;
	    z-index: 1;
	    padding-bottom: 2vw;
	}
	#breadol li{
	    font-size: 1.2vw;
	    color: white;
	    line-height: 1vw;
	    display: flex;
	}
	#breadol li a{
	    color: white;
	    margin-right: 2vw;
	    display: block;
	    position: relative;
	}
	#breadol li a::after{
		content: "";
		display: block;
		width: .2vw;
		height: 1vw;
		background-color: #fff;
		transform: skew(-15deg);
		position: absolute;
		top: 0vw;
		right: -1.1vw;		
	}


	#grades-page{
		position: relative;
		padding-bottom: 3vw;
	}
	#grades-page > h2{
		width: 100vw;
		padding: 6vw 0;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	#grades-page > h2 > span{
		color: #fff;
		height: 3vw;
		position: relative;
		line-height: 3vw;
		font-size: 3.8vw;
		z-index: 1;
	}
	#grades-page > h2::before{
		content: "";
		display: block;
		width: 20vw;
		height: 8vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 4vw;
		left: 0vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	#grades-page > h2::after{
		content: "";
		display: block;
		width: 20vw;
		height: 8vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 4vw;
		right: 0vw;
		opacity: .5;
		animation: tb 1s backwards;
	}



	#alloypage{
		display: flex;
		position: relative;
    	transition: all 0.5s;
    	width: 700vw;
		padding-top: 1vw;
		padding-bottom: 5vw;
		left: 0vw;
		z-index: 2;
	}
	#rightbutton1{
		position: absolute;
		height: 87vw;
		top: 19vw;
		width: 7vw;
		left: 93vw;
		z-index: 3;
		cursor: pointer;
	}
	#leftbutton1{
		position: absolute;
		height: 87vw;
		top: 19vw;
		width: 7vw;
		z-index: 3;
		cursor: pointer;
	}
	#gradeframe1{
		width: 82vw;	
	}
	#gradeframe1::before{
		content: "Popular";
		margin-left: 74vw;
		position: sticky;
		font-size: 1.2vw;
		line-height: 2vw;
		top: 6vw;
		right: 1vw;
		width: 6vw;
		height: 2vw;
		background-color: #32558e;
		color: #fff;
		text-align: center;
		border-radius: 2vw;
		font-weight: bold;
		z-index: 2;
	}
	#gradeframe11::before, #gradeframe22::before, #gradeframe33::before, #gradeframe44::before{
		content: "More >";
		margin-right: 74vw;
		position: sticky;
		font-size: 1.2vw;
		line-height: 2vw;
		top: 6vw;
		left: 1vw;
		width: 6vw;
		height: 2vw;
		background-color: #32558e;
		color: #fff;
		text-align: center;
		border-radius: 2vw;
		font-weight: bold;
		z-index: 2;
	}
	#gradeframe1::after, #gradeframe11::after, #gradeframe22::after, #gradeframe33::after, #gradeframe44::after{
		content: "";
		display: block;
		position: relative;
		height: 6vw;
		width: 70vw;
		pointer-events: none;
	}
	#gradeframe11{
		width: 82vw;	
	}
	#gradeframe22{
		width: 82vw;	
	}
	#gradeframe33{
		width: 82vw;	
	}
	#gradeframe44{
		width: 82vw;	
	}
	.gradeframe1{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		background-color: rgba(230, 230, 230, 0.9);
		margin: 0 1vw;
		padding: 1vw 0;
		border-radius: 2vw;
		position: relative;
    	left: 8vw;
    	transition: all 0.5s;
    	align-items: center;
		box-shadow: 1vw 1vw 2vw 0.1vw #666666;
		height: 85vw;
	}
	.chemeicalp{
		width: 100%;
		text-align: center;
		font-size: 0.9vw;
		line-height: 0;
		color: white;
		padding-top: 0.8vw;
		margin: 0;
		transform: translate(-.1vw, 0) skew(15deg);
	}
	.chemeicalp-2{
		width: 100%;
		text-align: left;
		font-size: 0.9vw;
		line-height: 0;
		color: white;
		padding-top: 0.8vw;
		margin: 0 0 0 1vw;
		transform: translate(-.1vw, 0) skew(15deg);
	}

	.gradebar{
		width: 36.9vw;
		margin: 2% 1%;
		transition: all 0.3s;
	}
	.gradename{
		display: block;
		font-size: 1.6vw;
		font-weight: bold;
		width: 6vw;
		padding: 0;
		margin: 0;
		line-height: 0;
		position: relative;
		top: -1vw;
	}
	.gradename2{
		display: block;
		font-size: 1.4vw;
		font-weight: bold;
		width: 6vw;
		padding: 0;
		margin: 0;
		line-height: 0;
		position: relative;
		top: -1vw;
	}
	.gradename3{
		display: block;
		font-size: 1.15vw;
		font-weight: bold;
		width: 6vw;
		padding: 0;
		margin: 0;
		line-height: 0;
		position: relative;
		top: -1vw;
	}
	.chemical{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		width: 30vw;
		top: -0.7vw;
		left: 6vw;
		padding: 0;
		margin: 0;
		transform: skew(-15deg);
	}
	.monel-chemical{
		background: linear-gradient(90deg, #8d7f62, transparent);
	}
	.inconel-chemical{
		background: linear-gradient(90deg, #936b51, transparent);
	}
	.incoloy-chemical{
		background: linear-gradient(90deg, #736c6d, transparent);
	}
	.hastelloy-chemical{
		background: linear-gradient(90deg, #7c7f74, transparent);
	}
	.nickel-chemical{
		background: linear-gradient(90deg, #32558e, transparent);
	}
	.other-chemical{
		background: linear-gradient(90deg, #888, transparent);
	}
	.chemical div{
		border-style: none;
		height: 1.6vw;
		padding: 0;
		margin: 0;
	}
	.chemical::after{
		content: "";
		position: absolute;
		top: 1vw;
		left: -6.8vw;
		background-color: #dddddd;
		border-radius: 2vw;
		padding: 0.5vw;
		width: 5vw;
		height: 0.5vw;
		font-size: 0.9vw;
		text-align: center;
		line-height: 0.6vw;
		color: #666666;
		transform: skew(15deg);
	}
	.grade-class{
		width: 25vw;
		height: 3vw;
		transform: skew(-15deg);
		margin: 2vw 25vw;
		text-align: center;
		align-self: flex-start;
	}
	.grade-class > h3{
		font-size: 2vw;
		line-height: 3vw;
		color: #fff;
		transform: skew(15deg);
	}
	.monel-class{
		background-color: #8d7f62;
	}
	.inconel-class{
		background-color: #936b51;
	}
	.incoloy-class{
		background-color: #736c6d;
	}
	.hastelloy-class{
		background-color: #7c7f74;
	}
	.nickel-class{
		background-color: #32558e;
	}
	.other-class{
		background-color: #888;
	}
	.chemeicaltext{
		content: "";
		position: absolute;
		top: -1.8vw;
		font-size: 1vw;
		text-align: center;
		width: 30vw;
		left: 0;
		color: #333;
		transform: skew(15deg);
		opacity: 0;
	}
	.chemical > div:hover .chemeicaltext{
		opacity: 1;
	}

	#gallery-page{
		position: relative;
		padding: 0 0 3vw 0;
	}
	#gallery-page > h2{
		width: 100vw;
		padding: 6vw 0;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	#gallery-page > h2 > span{
		color: #fff;
		height: 3vw;
		position: relative;
		line-height: 3vw;
		font-size: 3.8vw;
		z-index: 1;
	}
	#gallery-page > h2::before{
		content: "";
		display: block;
		width: 20vw;
		height: 8vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 4vw;
		left: 0vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	#gallery-page > h2::after{
		content: "";
		display: block;
		width: 20vw;
		height: 8vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 4vw;
		right: 0vw;
		opacity: .5;
		animation: tb 1s backwards;
	}
	#gallery-page-2{
		width: 120vw;
		position: relative;
		display: flex;
		align-items: center;
		height: 35vw;
		overflow: hidden;
		transform: translate(-4.5vw, 0);
		margin: 1vw 0;
	}
	.gallery-1{
		position: relative;
		animation: tb 1.5s backwards;
		animation-delay: .1s;
		transform: translate(0, 0) rotate(15deg);
	}
	.gallery-1 img{
		width: 20vw;
		display: block;
		margin: .8vw;
		border-radius: 1vw;
	}



	#products-page{
		width: 100vw;
		display: flex;
		justify-content: center;
		align-content: flex-start;
		flex-wrap: wrap;
		margin: 0;
		position: relative;
		transition: all .5s;
		margin-bottom: 3vw;
	}
	.products-page-1{
		height: 50vw;
	}
	.products-page-2{
		height: 61vw;
	}

	.products-h2{
		width: 100vw;
		padding: 6vw 0;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	.products-h2 > span{
		color: #fff;
		height: 3vw;
		position: relative;
		line-height: 3vw;
		font-size: 3.8vw;
		z-index: 1;
	}
	.products-h2::before{
		content: "";
		display: block;
		width: 20vw;
		height: 8vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 4vw;
		left: 0vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	.products-h2::after{
		content: "";
		display: block;
		width: 20vw;
		height: 8vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 4vw;
		right: 0vw;
		opacity: .5;
		animation: tb 1s backwards;
	}
	#card-frame > div{
		width: 100vw;
		display: flex;
		justify-content: center;
	}
	.products-card{
		width: 18vw;
		height: 32vw;
		border-radius: 1.5vw;
		box-shadow: .5vw .5vw 3vw #999;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 .8vw;
		transition: all .2s;
		cursor: pointer;
		position: relative;
		margin-top: 1vw;
		background-color: rgba(230, 230, 230, 0.9);
	}
	.products-card:hover{
		transform: translate(0, -1vw);
	}
	.products-card > .point{		
		background-color: #999;
		transition: all .5s;
	}
	.products-card:hover .point{		
		background-color: #32558e;
	}
	.products-card:nth-of-type(1), .products-card:nth-of-type(5){		
		animation: move-bottom 1s backwards;
		animation-delay: .4s;
	}
	.products-card:nth-of-type(2), .products-card:nth-of-type(4){		
		animation: move-bottom 1s backwards;
		animation-delay: .6s;
	}
	.products-card:nth-of-type(3){		
		animation: move-bottom 1s backwards;
		animation-delay: .8s;
	}
	.products-main{
		width: 18vw;
		border-radius: 1vw;
		overflow: hidden;
	}
	.products-main img{
		width: 17vw;
		border-radius: 1vw;
		margin: .5vw;
	}
	.products-main > p{
		width: 18vw;
		padding: 0;
		font-size: 3.5vw;
		font-weight: bold;
		text-align: center;
		line-height: 2.8vw;
	}
	.products-main > p > span{
		font-size: 1.8vw;
		color: #666;
	}
	.products-main > div{
		width: 12.6vw;
		height: 2.6vw;
		border: solid .2vw #333;
		border-radius: 5vw;
		line-height: 2.5vw;
		text-align: center;
		font-size: 1.3vw;
		font-weight: bold;
		margin: 2vw 2.5vw .3vw 2.5vw;
	}
	.contactbutton-2{
		border-radius: 25vw;
		width: 13vw;
		height: 3vw;
		position: relative;
		background: linear-gradient(105deg, #8653ea 0%, #7053ea 20%, #535aea 40%, #5385ea 60%, #4fabde 80%, #50aadc 100%);
		box-shadow: 0.5vw 0.5vw 1vw #666;
		cursor: pointer;
		transition: all 0.5s;
		transform: translate(0, 0);
		opacity: 1;
		overflow: hidden;
		margin: .5vw 0;
	}
	.contactbutton-2:hover{
		transform: translate(0, -0.2vw);
	}
	.contactbutton-2 img{
		width: 3vw;
		position: absolute;
		top: 0vw;
		left: 1vw;
	}
	.contactbutton-2 p{
		position: absolute;
		font-weight: bold;
		font-size: 1.3vw;
		color: #fff;
		top: 0;
		left: 4.5vw;
		display: block;
		width: 20vw;
		line-height: 3vw;
	}
	.point{
		width: 1vw;
		height: 1vw;
		border-radius: 1vw;
		background-color: #32558e;
		position: relative;
	}
	.point-2{
		margin: 1.2vw 0;
	}
	.products-detail{
		padding: 2vw 3vw;
		height: 8vw;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		pointer-events: none;
		background-color: #eee;
		border-radius: 1vw;
		transition: all .5s;
		position: absolute;
		top: 35vw;
	}
	.products-detail::before{
		content: "";
		width: 0;
		height: 0;
		border: solid 2vw transparent;
		border-bottom: solid 2vw #eee;
		position: absolute;
		top: -3vw;
		left: calc(50% - 2vw);
	}

	.products-card:nth-of-type(1) .products-detail{
		left: 0vw;
	}
	.products-card:nth-of-type(1) .products-detail::before{
		left: 7vw;
	}

	.products-card:nth-of-type(5) .products-detail{
		right: 0vw;
	}
	.products-card:nth-of-type(5) .products-detail::before{
		left: 38.2vw;
	}


	.products-detail > a:hover{
		transform: scale(1.2);
	}
	.products-detail > a{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 2vw;
		transition: transform .2s;
	}
	.products-detail > a > img{
		width: 3vw;
	}
	.products-detail > a > p{
		font-size: 1.5vw;
		font-weight: bold;
		margin-top: .3vw;
		text-align: center;
		white-space: nowrap;
	}


	#popular-products{
		width: 100vw;
		overflow: hidden;
		position: relative;
	}
	#popular-products-left, #popular-products-right{
		width: 5vw;
		height: 5vw;
		border-radius: 5vw;
		position: absolute;
		top: 8.5vw;
		background-color: #32558e;
		box-shadow: 0 0 2vw 1.5vw #fff;
		z-index: 1;
		cursor: pointer;
		transition: all .1s
	}
	#popular-products-left:hover, #popular-products-right:hover{
		transform: scale(1.1);
	}
	#popular-products-left:active, #popular-products-right:active{
		transform: scale(1.05);
	}
	#popular-products-left{
		left: 4vw;
		opacity: 0;
		pointer-events: none;
	}
	#popular-products-right{
		right: 4vw;
	}
	#popular-products-left::before, #popular-products-left::after, #popular-products-right::before, #popular-products-right::after{
		content: "";
		width: 2vw;
		height: .5vw;
		border-radius: .5vw;
		background-color: #fff;
		position: absolute;
		top: 2.25vw;
	}
	#popular-products-left::before{
		transform: rotate(-45deg);
		transform-origin: .25vw center;
		left: 1.6vw;
	}
	#popular-products-left::after{
		transform: rotate(45deg);
		transform-origin: .25vw center;
		left: 1.6vw;
	}
	#popular-products-right::before{
		transform: rotate(-45deg);
		transform-origin: 1.75vw center;
		left: 1.4vw;
	}
	#popular-products-right::after{
		transform: rotate(45deg);
		transform-origin: 1.75vw center;
		left: 1.4vw;
	}
	#popular-products-frame{
		width: 100vw;
		position: relative;
	}
	#popular-products-part{
		width: 400vw;
		display: flex;
		flex-wrap: wrap;
		transform: translate(6.5vw, 0);
		transition: all .2s;
		padding-bottom: 1vw;
	}

	.popular-products-card{
		width: 28vw;
		height: 10vw;
		margin: .5vw;
		border-radius: 1.5vw;
		position: relative;
		display: flex;
		overflow: hidden;
		user-select: none;
		box-shadow: 0 0 1vw .1vw #fff;
	}
	.popular-products-card:nth-child(-n+13){
		transform: translate(3.5vw, 0);
	}
	.popular-products-card:hover > div{
		transform: translate(1vw, 0);
	}
	.popular-products-card:hover .p-p-img{
		filter: brightness(1);
	}
	.popular-products-card::before{
		content: "";
		width: 8vw;
		height: 10vw;
		position: absolute;
		top: 0;
		left: 7.2vw;
		z-index: 1;
	}
	.popular-products-card::after{
		content: "Learn More";
		width: 8vw;
		height: 2vw;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		background-color: #333;
		color: #eee;
		text-align: center;
		line-height: 2vw;
		font-size: 1vw;
		border-radius: 0 0 0 1.5vw;
		font-weight: bold;
	}
	.p-p-logo{
		width: 2.5vw;
		height: 2.5vw;
		position: absolute;
		left: .5vw;
		top: .5vw;
		filter: brightness(100);
	}
	.p-p-img{
		height: 10vw;
		border-radius: 1.5vw 0 0 1.5vw;
		filter: brightness(.8);
		transition: all .2s;
	}
	.popular-products-card > div{
		height: 10vw;
		border-radius: 0 1.5vw 1.5vw 0;
		position: absolute;
		top: 0;
		left: 10vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
		transition: all .2s;
	}
	.popular-products-card > div > div{
		display: flex;
		align-items: center;
	}
	.popular-products-card > div > div > p{
		font-weight: bold;
	}
	.popular-products-card > div > div > div{
		width: .1vw;
		height: 3.5vw;
		background-color: #eee;
		margin: 0 .5vw;
	}
	.popular-products-card > div > div > p > span:nth-child(1){
		color: #eee;
		display: block;
		font-size: 1.2vw;
		line-height: 1.2vw;
		opacity: .8;
	}
	.popular-products-card > div > div > p > span:nth-child(2){
		color: #fff;
		display: block;
		font-size: 2.5vw;
		line-height: 2.5vw;
	}
	.aws{
		font-size: 2vw!important;		
	}
	.popular-products-card > div > p{
		font-size: 1.8vw;
		line-height: 1.8vw;
		color: #eee;
		font-weight: bold;
		margin-top: .25vw;
	}
	.monel-popular{
		background-color: #8d7f62;
	}
	.monel-popular::before{
		background: linear-gradient(90deg, rgba(141, 127, 98, 0) 0%, rgba(141, 127, 98, 1) 80%);
	}
	.inconel-popular{
		background-color: #936b51;
	}
	.inconel-popular::before{
		background: linear-gradient(90deg, rgba(147, 107, 81, 0) 0%, rgba(147, 107, 81, 1) 80%);
	}
	.incoloy-popular{
		background-color: #736c6d;
	}
	.incoloy-popular::before{
		background: linear-gradient(90deg, rgba(115, 108, 109, 0) 0%, rgba(115, 108, 109, 1) 80%);
	}
	.hastelloy-popular{
		background-color: #7c7f74;
	}
	.hastelloy-popular::before{
		background: linear-gradient(90deg, rgba(124, 127, 116, 0) 0%, rgba(124, 127, 116, 1) 80%);
	}
}






























@media screen and (max-width: 600px) {

	main{
		overflow-x: hidden;
	}
	main:before{
		content: "";
		position: fixed;
		z-index: -1;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: #333;
		background-image: url(image/nickel-alloy-mobile.jpg);
	    background-size: cover;
	}
	#main-pro{
		width: 100vw;
		overflow: hidden;
	}
	#main-text{
		padding: 12vw 7.5vw 0 7.5vw;
		height: 120vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#main-text > h1{
		font-size: 12vw;
		color: #fff;
		line-height: 12vw;
		transform: translate(0, 0);
		animation: translate 1s;
		animation-fill-mode: backwards;
		text-align: center;
	}
	#main-text > h1 > span{
		padding-top: 3vw;
		padding-left: 1vw;
		display: block;
		font-size: 6vw;
		line-height: 7vw;
	}

	.grade-point{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 8vw 0 5vw 0;
		position: relative;
		animation: translate 1s;
		animation-delay: .2s;
		animation-fill-mode: backwards;
	}
	.grade-point::before{
		content: "";
		width: 85vw;
		height: 22vw;
		background-color: rgba(255, 255, 255, .6);
		position: absolute;
		left: 0vw;
		top: -2vw;
		transform: skew(-15deg);
	}
	.grade-point > a{
		width: 20vw;
		font-size: 4.5vw;
		margin: 0 2vw;
		line-height: 9vw;
		font-weight: bold;
		position: relative;
		padding-left: 4.5vw;
	}
	.grade-point > a::before{
		content: "";
		width: 3vw;
		height: 3vw;
		border-radius: 3vw;
		position: absolute;
		left: 0;
		top: 3vw;
	}
	#contactbutton{
		border-radius: 75vw;
		width: 75vw;
		height: 12vw;
		position: relative;
		background: linear-gradient(105deg, #8653ea 0%, #7053ea 20%, #535aea 40%, #5385ea 60%, #4fabde 80%, #50aadc 100%);
		box-shadow: 1.5vw 1.5vw 3vw #666;
		cursor: pointer;
		transition: all 0.5s;
		transform: translate(0, 0);
		opacity: 1;
		overflow: hidden;
		margin: 2vw 5vw;
		animation: translate 1s;
		animation-delay: .2s;
		animation-fill-mode: backwards;
	}
	#contactbutton:hover{
		transform: translate(0, -0.5vw);
	}
	#contactbutton img{
		width: 12vw;
		position: absolute;
		top: 0vw;
		left: 4.5vw;
	}
	#contactbutton p{
		position: absolute;
		font-weight: bold;
		font-size: 5.4vw;
		color: #fff;
		top: 3vw;
		left: 18vw;
		display: block;
		width: 60vw;
		line-height: 6vw;
	}
	@keyframes translate{
		0%{transform: translate(0, 10vw); opacity: 0;}
		100%{transform: translate(0, 0); opacity: 1;}
	}
	@keyframes opacity{
		0%{opacity: 0;}
		100%{opacity: 1;}
	}

	#main-photo{
		position: relative;
		height: 80vw;
		animation: opacity 1.5s;
		animation-delay: .6s;
		animation-fill-mode: backwards;
		overflow: hidden;
	}
	#main-photo::before{
		content: "";
		width: 480vw;
		height: 480vw;
		position: absolute;
		background-color: #fff;
		border-radius: 480vw;
		opacity: .5;
		top: 0vw;
		left: -190vw;
	}
	#main-photo > picture{
		width: 45vw;
		height: 30vw;
		position: absolute;
		left: 27.5vw;
		top: 10vw;
		animation: circle2 80s linear infinite;
		transform-origin: 50% 180vw;
	}
	#main-photo > picture > img{
		width: 45vw;
		height: 30vw;
		border-radius: 1.8vw;
		box-shadow: 0vw 2vw 6vw #333333;
		position: absolute;
	}

	

	#main-photo > picture:nth-child(1){
	}
	#main-photo > picture:nth-child(2){
		animation-delay: -4s;
	}
	#main-photo > picture:nth-child(3){
		animation-delay: -8s;
	}
	#main-photo > picture:nth-child(4){
		animation-delay: -12s;
	}
	#main-photo > picture:nth-child(5){
		animation-delay: -16s;
	}
	#main-photo > picture:nth-child(6){
		animation-delay: -20s;
	}
	#main-photo > picture:nth-child(7){
		animation-delay: -24s;
	}
	#main-photo > picture:nth-child(8){
		animation-delay: -28s;
	}
	#main-photo > picture:nth-child(9){
		animation-delay: -32s;
	}
	#main-photo > picture:nth-child(10){
		animation-delay: -36s;
	}
	#main-photo > picture:nth-child(11){
		animation-delay: -40s;
	}
	#main-photo > picture:nth-child(12){
		animation-delay: -44s;
	}
	#main-photo > picture:nth-child(13){
		animation-delay: -48s;
	}
	#main-photo > picture:nth-child(14){
		animation-delay: -52s;
	}
	#main-photo > picture:nth-child(15){
		animation-delay: -56s;
	}
	#main-photo > picture:nth-child(16){
		animation-delay: -60s;
	}
	#main-photo > picture:nth-child(17){
		animation-delay: -64s;
	}
	#main-photo > picture:nth-child(18){
		animation-delay: -68s;
	}
	#main-photo > picture:nth-child(19){
		animation-delay: -72s;
	}
	#main-photo > picture:nth-child(20){
		animation-delay: -76s;
	}

	@keyframes circle{
		0%{transform: translate(-104vw, 0); z-index: 10;}
		5%{transform: translate(-98.92vw, 32.12vw); z-index: 9;}
		10%{transform: translate(-84.12vw, 61.16vw); z-index: 8;}
		15%{transform: translate(-61.16vw, 84.12vw); z-index: 7;}
		20%{transform: translate(-32.12vw, 98.92vw); z-index: 6;}
		25%{transform: translate(0, 104vw); z-index: 5;}
		30%{transform: translate(32.12vw, 98.92vw); z-index: 4;}
		35%{transform: translate(61.16vw, 84.12vw); z-index: 3;}
		40%{transform: translate(84.12vw, 61.16vw); z-index: 2;}
		55%{transform: translate(98.92vw, 32.12vw); z-index: 1;}
		50%{transform: translate(104vw, 0); z-index: 1;}
		55%{transform: translate(98.92vw, -32.12vw); z-index: 1;}
		60%{transform: translate(84.12vw, -61.16vw); z-index: 2;}
		65%{transform: translate(61.16vw, -84.12vw); z-index: 3;}
		70%{transform: translate(32.12vw, -98.92vw); z-index: 4;}
		75%{transform: translate(0, -104vw); z-index: 5;}
		80%{transform: translate(-32.12vw, -98.92vw); z-index: 6;}
		85%{transform: translate(-61.16vw, -84.12vw); z-index: 7;}
		90%{transform: translate(-84.12vw, -61.16vw); z-index: 8;}
		95%{transform: translate(-98.92vw, -32.12vw); z-index: 9;}
		100%{transform: translate(-104vw, 0); z-index: 10;}
	}

	@keyframes circle2{
		0%{transform: rotate(0deg);}
		5%{transform: rotate(18deg);}
		10%{transform: rotate(36deg);}
		15%{transform: rotate(54deg);}
		20%{transform: rotate(72deg);}
		25%{transform: rotate(90deg);}
		30%{transform: rotate(108deg);}
		35%{transform: rotate(126deg);}
		40%{transform: rotate(144deg);}
		55%{transform: rotate(162deg);}
		50%{transform: rotate(180deg);}
		55%{transform: rotate(198deg);}
		60%{transform: rotate(216deg);}
		65%{transform: rotate(234deg);}
		70%{transform: rotate(252deg);}
		75%{transform: rotate(270deg);}
		80%{transform: rotate(288deg);}
		85%{transform: rotate(306deg);}
		90%{transform: rotate(324deg);}
		95%{transform: rotate(342deg);}
		100%{transform: rotate(360deg);}
	}

	#main-product{
		position: absolute;
		display: flex;
		justify-content: center;
		width: 100vw;
		top: 55vw;
	}
	#main-product > a{
		display: block;
		display: flex;
		flex-direction: column;
		margin: 1vw 2vw;
		align-items: center;
		justify-content: center;
		transform: translate(0, 0);
		transition: all .3s;
	}
	#main-product > a > p{
		color: #333;
		font-size: 5vw;
		font-weight: bold;
		width: 15vw;
		line-height: 5vw;
		text-align: center;
		margin-top: 1vw;
	}
	.main-logo{
		width: 10vw;
	}
	#moredetail{
		display: none;
	}
	#text-text{
		width: 85vw;
		margin: 5vw 7.5vw;
		font-size: 4.5vw;
		line-height: 6vw;
		color: #fff;
		text-align: justify;
		text-shadow: 1.5vw 1.5vw 1.5vw #333;
	}
	#breadol{
	    width: 85vw;
	    display: flex;
	    align-content: center;
	    justify-content: flex-start;
	    list-style: none;
	    position: relative;
	    padding: 6vw 0;
	    margin: 0;
	    z-index: 1;
	}
	#breadol li{
	    font-size: 3.6vw;
	    color: white;
	    line-height: 3vw;
	    display: flex;
	}
	#breadol li a{
	    color: white;
	    margin-right: 6vw;
	    display: block;
	    position: relative;
	}
	#breadol li a::after{
		content: "";
		display: block;
		width: .6vw;
		height: 3vw;
		background-color: #fff;
		transform: skew(-15deg);
		position: absolute;
		top: 0vw;
		right: -3.3vw;		
	}


	#products-page{
		width: 100vw;
		display: flex;
		flex-direction: column;
		overflow-x:scroll; 
		-webkit-overflow-scrolling: touch;
		margin: 0;
	}
	#products-page::-webkit-scrollbar{
		display: none;
	}
	.products-h2{
		width: 90vw;
		padding: 15vw 5vw;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	.products-h2 > span{
		color: #fff;
		height: 12vw;
		position: relative;
		line-height: 12vw;
		font-size: 12vw;
		z-index: 1;
	}
	.products-h2::before{
		content: "";
		display: block;
		width: 30vw;
		height: 25vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 9vw;
		left: -5vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	.products-h2::after{
		content: "";
		display: block;
		width: 30vw;
		height: 25vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 9vw;
		right: -5vw;
		opacity: .5;
		animation: tb 1s backwards;
	}
	#card-frame{
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
	#card-frame::-webkit-scrollbar{
		display: none;
	}
	#card-frame > div{
		width: 320vw;
		padding: 3vw 5vw 6vw 5vw;
		display: flex;
		justify-content: space-between;
	}
	.products-card{
		width: 60vw;
		border-radius: 6vw;
		box-shadow: 1.5vw 1.5vw 6vw #666;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2.5vw 0;
		padding-bottom: 5vw;
		background-color: rgba(230, 230, 230, 0.9);
	}
	.products-card:nth-of-type(1), .products-card:nth-of-type(5){		
		animation: move-bottom 1s backwards;
		animation-delay: .4s;
	}
	.products-card:nth-of-type(2), .products-card:nth-of-type(4){		
		animation: move-bottom 1s backwards;
		animation-delay: .6s;
	}
	.products-card:nth-of-type(3){		
		animation: move-bottom 1s backwards;
		animation-delay: .8s;
	}
	.products-main{
		width: 60vw;
	}
	.products-main img{
		width: 56vw;
		margin: 2vw;
		border-radius: 4vw;
	}
	.products-main > p{
		width: 60vw;
		font-size: 12vw;
		font-weight: bold;
		text-align: center;
		line-height: 9vw;
		transform: translate(0, -1vw);
	}
	.products-main > p > span{
		font-size: 6vw;
		color: #666;
	}
	.products-main > div{
		width: 48.4vw;
		height: 10.4vw;
		border: solid .8vw #333;
		border-radius: 15vw;
		line-height: 10vw;
		text-align: center;
		font-size: 5vw;
		font-weight: bold;
		margin: 6vw 5vw 0 5vw;
	}
	.contactbutton-2{
		display: none;
	}
	.point-2{
		display: none;
	}
	.products-detail{
		display: none;
	}
	
	#grades-page{
		position: relative;
		width: 100vw;
		overflow: hidden;
	}
	#grades-page > h2{
		width: 90vw;
		padding: 15vw 5vw;
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	#grades-page > h2 > span{
		color: #fff;
		height: 12vw;
		position: relative;
		line-height: 12vw;
		font-size: 12vw;
		z-index: 1;
	}
	#grades-page > h2::before{
		content: "";
		display: block;
		width: 30vw;
		height: 25vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 9vw;
		left: -5vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	#grades-page > h2::after{
		content: "";
		display: block;
		width: 30vw;
		height: 25vw;
		background-color: #eee;
		transform: skew(-15deg) translate(0, 0);
		position: absolute;
		top: 9vw;
		right: -5vw;
		opacity: .5;
		animation: tb 1s backwards;
	}
	#grades-h{
		height: 15vw;
	}
	#grades-page > div > h2{		
		font-size: 9vw;
		left: 15vw;
		position: relative;
		color: #fff;	
		line-height: 9vw;
		margin: 20vw 0;
		padding: 0 0 7.5vw 0;
		display: block;
	}	
	#grades-page > div > h2::before{
		content: "";
		display: block;
		width: 2.4vw;
		height: 9vw;
		background-color: #fff;
		transform: skew(-15deg);
		position: absolute;
		top: 0;
		left: -6vw;
	}



	#alloypage-out{
		padding: 5vw 0 15vw 0;
		width: 100vw;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
	#alloypage-out::-webkit-scrollbar{
		display: none;
	}
	#alloypage{
		display: flex;
		justify-content: space-between;
		position: relative;
    	transition: all 0.5s;
    	width: 920vw;
    	overflow: hidden;
		left: 0vw;
		z-index: 2;
		padding: 0 5vw;
	}
	#rightbutton1{
		display: none;
	}
	#leftbutton1{
		display: none;
	}
	#gradeframe1{
		width: 180vw;	
	}
	#gradeframe11{
		width: 180vw;
	}
	#gradeframe22{
		width: 180vw;	
	}
	#gradeframe33{
		width: 180vw;	
	}
	#gradeframe44{
		width: 180vw;	
	}
	.gradeframe1{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		background-color: rgba(230, 230, 230, 0.9);
		margin: 0;
		padding: 6vw 0 12vw 0;
		border-radius: 6vw;
		position: relative;
    	transition: all 0.5s;
    	align-items: center;
	}
	.chemeicalp{
		width: 100%;
		text-align: center;
		font-size: 2.7vw;
		line-height: 0;
		color: white;
		padding-top: 2.4vw;
		margin: 0;
		transform: translate(-.3vw, 0) skew(15deg);
	}
	.chemeicalp-2{
		width: 100%;
		text-align: left;
		font-size: 2.7vw;
		line-height: 0;
		color: white;
		padding-top: 2.4vw;
		margin: 0 0 0 3vw;
		transform: translate(-.3vw, 0) skew(15deg);
	}

	.gradebar{
		width: 75vw;
		transition: all 0.3s;
		margin: 2vw 5vw;
	}
	.gradename, .gradename2, .gradename3{
		display: block;
		font-size: 4.8vw;
		font-weight: bold;
		width: 50vw;
		height: 6vw;
		padding: 0;
		margin: 0;
		line-height: 4.8vw;
		position: relative;
		top: -0.7vw; 
		text-align: left;
	}
	.chemical{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		width: 75vw;
		top: -0.7vw;
		background: linear-gradient(90deg, #32558e, transparent);
		padding: 0;
		margin: 0;
		transform: skew(-15deg);
	}
	.chemical div{
		border-style: none;
		height: 4.8vw;
		padding: 0;
		margin: 0;
	}
	.chemical::after{
		content: "";
		position: absolute;
		top: -6vw;
		right: 2vw;
		background-color: #dddddd;
		border-radius: 6vw;
		padding: 1.5vw;
		width: 15vw;
		height: 1.5vw;
		font-size: 2.7vw;
		text-align: center;
		line-height: 1.8vw;
		color: #666666;
		transform: skew(15deg);
	}
	.grade-class{
		width: 100vw;
		height: 9vw;
		background-color: #555;
		transform: skew(-15deg);
		margin: 4vw 12.5vw;
	}
	.grade-class > h3{
		font-size: 6vw;
		line-height: 9vw;
		color: #fff;
		transform: skew(15deg);
		text-align: center;
	}
	.monel-class{
		background-color: #8d7f62;
	}
	.inconel-class{
		background-color: #936b51;
	}
	.incoloy-class{
		background-color: #736c6d;
	}
	.hastelloy-class{
		background-color: #7c7f74;
	}
	.nickel-class{
		background-color: #32558e;
	}
	.other-class{
		background-color: #888;
	}
	.chemeicaltext{
		display: none;
	}


	#popular-products{
		width: 100vw;
		overflow: hidden;
		position: relative;
	}
	#popular-products-left, #popular-products-right{
		display: none;
	}
	#popular-products-frame{
		width: 100vw;
		position: relative;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		padding-bottom: 3.5vw;
	}
	#popular-products-frame::-webkit-scrollbar{
		display: none;
	}
	#popular-products-part{
		width: 556vw;
		display: flex;
		flex-wrap: wrap;
		transform: translate(2vw, 0);
		transition: all .2s;
		padding-top: 2vw;
	}

	.popular-products-card{
		width: 40vw;
		height: 60vw;
		margin: 1vw;
		border-radius: 4.5vw;
		position: relative;
		display: flex;
		overflow: hidden;
		box-shadow: 0 0 3vw .3vw #fff;
	}
	.popular-products-card:nth-child(-n+13){
		transform: translate(8vw, 0);
	}
	.popular-products-card::before{
		content: "";
		width: 40vw;
		height: 20vw;
		position: absolute;
		top: 10vw;
		left: 0;
		z-index: 1;
	}
	.popular-products-card::after{
		content: "Learn More";
		width: 24vw;
		height: 6vw;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
		background-color: #333;
		color: #eee;
		text-align: center;
		line-height: 6vw;
		font-size: 3vw;
		border-radius: 4.5vw 0 0 0;
		font-weight: bold;
	}
	.p-p-logo{
		width: 7.5vw;
		height: 7.5vw;
		position: absolute;
		left: 1.5vw;
		top: 1.5vw;
		filter: brightness(100);
	}
	.p-p-img{
		width: 40vw;
		height: 26.67vw;
		border-radius: 1.5vw 0 0 1.5vw;
		filter: brightness(.8);
		transition: all .2s;
	}
	.popular-products-card > div{
		width: 40vw;
		border-radius: 0 1.5vw 1.5vw 0;
		position: absolute;
		top: 12vw;
		left: 0vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
		transition: all .2s;
	}
	.popular-products-card > div > div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.popular-products-card > div > div > p{
		font-weight: bold;
	}
	.popular-products-card > div > div > div{
		width: 15vw;
		height: .3vw;
		background-color: #eee;
		margin: 1.5vw 0;
	}
	.popular-products-card > div > div > p > span:nth-child(1){
		color: #eee;
		display: block;
		font-size: 4vw;
		line-height: 4vw;
		opacity: .8;
	}
	.popular-products-card > div > div > p > span:nth-child(2){
		color: #fff;
		display: block;
		font-size: 8vw;
		line-height: 8vw;
	}
	.aws{
		font-size: 6.5vw!important;		
	}
	.popular-products-card > div > p{
		width: 30vw;
		font-size: 5vw;
		line-height: 5.5vw;
		color: #eee;
		font-weight: bold;
		margin: .25vw 5vw;
	}
	.monel-popular{
		background-color: #8d7f62;
	}
	.monel-popular::before{
		background: linear-gradient(180deg, rgba(141, 127, 98, 0) 0%, rgba(141, 127, 98, 1) 80%);
	}
	.inconel-popular{
		background-color: #936b51;
	}
	.inconel-popular::before{
		background: linear-gradient(180deg, rgba(147, 107, 81, 0) 0%, rgba(147, 107, 81, 1) 80%);
	}
	.incoloy-popular{
		background-color: #736c6d;
	}
	.incoloy-popular::before{
		background: linear-gradient(180deg, rgba(115, 108, 109, 0) 0%, rgba(115, 108, 109, 1) 80%);
	}
	.hastelloy-popular{
		background-color: #7c7f74;
	}
	.hastelloy-popular::before{
		background: linear-gradient(180deg, rgba(124, 127, 116, 0) 0%, rgba(124, 127, 116, 1) 80%);
	}
}




