@keyframes ta{
	0%{transform: skew(-15deg) translate(-50vw, 0); opacity: 0;}
	100%{transform: skew(-15deg) translate(0, 0); opacity: .5;}
}
@keyframes tb{
	0%{transform: skew(-15deg) translate(50vw, 0); opacity: 0;}
	100%{transform: skew(-15deg) translate(0, 0); opacity: .5;}
}


@media screen and (min-width: 600px) {
	main{
		padding-bottom: 8vw;
	}
	.button{
		box-shadow: .3vw .3vw .8vw #a1a1a1, 
		            -.3vw -.3vw .8vw #fefefe;
		transition: all .1s;
		cursor: pointer;
	}
	.button:active{
		box-shadow: .15vw .15vw .4vw #a1a1a1, 
		            -.15vw -.15vw .4vw #fefefe;
	}
	#g-head{
		width: 100vw;
		padding: 12vw 0 6vw 0;
	}
	#g-head > h1{
		width: 100vw;
		text-align: center;
		position: relative;
	}
	#g-head > h1 > span{
		color: #333;
		height: 3vw;
		position: relative;
		line-height: 3vw;
		font-size: 5vw;
		z-index: 1;
	}
	#g-head > h1::before{
		content: "";
		display: block;
		width: 63vw;
		height: 13vw;
		background-color: #eee;
		transform: skew(-15deg);
		position: absolute;
		top: -3vw;
		left: 0vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	#g-head > h1::after{
		content: "";
		display: block;
		width: 63vw;
		height: 13vw;
		background-color: #eee;
		transform: skew(-15deg);
		position: absolute;
		bottom: -3vw;
		right: 0vw;
		opacity: .5;
		animation: tb 1s backwards;
	}
	#breadol{
	    width: 100vw;
	    display: flex;
	    align-content: center;
	    justify-content: center;
	    list-style: none;
	    position: relative;
	    padding: 2vw 0 0 0;
	    margin: 0;
	    z-index: 1;
	}
	#breadol li{
	    font-size: 1.2vw;
	    color: #333;
	    line-height: 1vw;
	    display: flex;
	}
	#breadol li a{
	    color: #333;
	    margin-right: 2vw;
	    display: block;
	    position: relative;
	}
	#breadol li a::after{
		content: "";
		display: block;
		width: .2vw;
		height: 1vw;
		background-color: #333;
		transform: skew(-15deg);
		position: absolute;
		top: 0vw;
		right: -1.1vw;		
	}

	#g-choose{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 80vw;
		margin: 0 10vw;
	}
	.g-choose{
		display: block;
		width: 30vw;
		height: 20vw;
		overflow: hidden;
		position: relative;
		margin: 1vw;
		animation: tc 2s backwards;
		border-radius: 2vw;
	}
	.g-choose > div{
		width: 30vw;
		height: 20vw;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.g-choose img{
		width: 5vw;
		padding: 1vw;
	}
	.g-choose h2{
		width: 30vw;
		text-align: center;
		color: #666;
		font-size: 2.5vw;
		font-weight: bold;
	}
	@keyframes tc{
		0%{box-shadow: none; opacity: 0;}
		100%{box-shadow: .3vw .3vw .8vw #a1a1a1, -.3vw -.3vw .8vw #fefefe; opacity: 1;}
	}
}





















@media screen and (max-width: 600px) {
	main{
		padding: 20vw 0;
	}
	.button{
		box-shadow: .9vw .9vw 2.4vw #a1a1a1, 
		            -.9vw -.9vw 2.4vw #fefefe;
		transition: all .1s;
		cursor: pointer;
	}
	.button:active{
		box-shadow: .45vw .45vw 1.2vw #a1a1a1, 
		            -.45vw -.45vw 1.2vw #fefefe;
	}
	#g-head{
		width: 100vw;
		overflow: hidden;
		padding: 24vw 0 12vw 0;
	}
	#g-head > h1{
		width: 100vw;
		text-align: center;
		position: relative;
	}
	#g-head > h1 > span{
		color: #333;
		height: 9vw;
		position: relative;
		line-height: 9vw;
		font-size: 15vw;
		z-index: 1;
	}
	#g-head > h1::before{
		content: "";
		display: block;
		width: 90vw;
		height: 26vw;
		background-color: #eee;
		transform: skew(-15deg);
		position: absolute;
		top: -12vw;
		left: 0vw;
		opacity: .5;
		animation: ta 1s backwards;
	}
	#g-head > h1::after{
		content: "";
		display: block;
		width: 90vw;
		height: 26vw;
		background-color: #eee;
		transform: skew(-15deg);
		position: absolute;
		bottom: -12vw;
		right: 0vw;
		opacity: .5;
		animation: tb 1s backwards;
	}
	#breadol{
	    width: 100vw;
	    display: flex;
	    align-content: center;
	    justify-content: center;
	    list-style: none;
	    position: relative;
	    padding: 6vw 0 0 0;
	    margin: 0;
	    z-index: 1;
	}
	#breadol li{
	    font-size: 3.6vw;
	    color: #333;
	    line-height: 3vw;
	    display: flex;
	}
	#breadol li a{
	    color: #333;
	    margin-right: 6vw;
	    display: block;
	    position: relative;
	}
	#breadol li a::after{
		content: "";
		display: block;
		width: .6vw;
		height: 3vw;
		background-color: #333;
		transform: skew(-15deg);
		position: absolute;
		top: 0vw;
		right: -3.3vw;		
	}
	#g-choose{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.g-choose{
		display: block;
		width: 90vw;
		height: 60vw;
		overflow: hidden;
		position: relative;
		margin: 3vw;
		animation: tc 2s backwards;
		border-radius: 6vw;
	}
	.g-choose > div{
		width: 90vw;
		height: 60vw;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.g-choose img{
		width: 15vw;
		padding: 3vw;
	}
	.g-choose h2{
		width: 90vw;
		text-align: center;
		color: #666;
		font-size: 7.5vw;
		font-weight: bold;
	}
	@keyframes tc{
		0%{box-shadow: none; opacity: 0;}
		100%{box-shadow: .9vw .9vw 2.4vw #a1a1a1, -.9vw -.9vw 2.4vw #fefefe; opacity: 1;}
	}
}








