#background-thing{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	opacity: 0;
	animation: opacity 3s forwards;
}
.background-logo{
	width: 30vmin;
	height: 30vmin;
	opacity: 0.1;
	position: absolute;
	transform: translate(100vw, 0);
}
.background-logo::before{
	content: "";
	border: solid 4vmin #aaaaaa;
	border-top: solid 4vmin transparent;
	border-left: solid 4vmin transparent;
	width: 23vmin;
	height: 23vmin;
	border-radius: 30vmin;
	position: absolute;
	top: 6vmin;
	left: 3vmin;
	transform: rotate(45deg);
}
.background-logo::after{
	content: "";
	border: solid 4vmin #aaaaaa;
	border-bottom: solid 4vmin transparent;
	border-right: solid 4vmin transparent;
	width: 23vmin;
	height: 23vmin;
	border-radius: 30vmin;
	position: absolute;
	top: 3vmin;
	left: 3vmin;
	transform: rotate(45deg);
}
.background-logo:nth-child(1){
	left: 20vmin;
	animation: backgroundthing 80s linear infinite;
	animation-delay: 0s;
}
.background-logo:nth-child(2){
	left: calc(50vw - 20vmin);
	animation: backgroundthing 80s linear infinite;
	animation-delay: -13s;
}
.background-logo:nth-child(3){
	right: 20vmin;
	animation: backgroundthing 80s linear infinite;
	animation-delay: -26s;
}
.background-logo:nth-child(4){
	left: 20vmin;
	animation: backgroundthing 80s linear infinite;
	animation-delay: -39s;
}
.background-logo:nth-child(5){
	left: calc(50vw - 20vmin);
	animation: backgroundthing 80s linear infinite;
	animation-delay: -53s;
}
.background-logo:nth-child(6){
	right: 20vmin;
	animation: backgroundthing 80s linear infinite;
	animation-delay: -67s;
}
@keyframes backgroundthing{
	0%{transform: translate(0, 100vh);}
	100%{transform: translate(0, -50vh);}
}
@keyframes opacity{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

#specifications-features-2{
    background-image: url("../image/products/wire-rod/model.jpg");
}