#background-thing{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	opacity: 0;
	animation: opacity 3s forwards;
}
.background-logo{
	width: 36vmin;
	height: 36vmin;
	border-radius: 20vmin;
	opacity: 0.1;
	position: absolute;
	transform: rotate(15deg) translate(100vw, 0);
	background: #aaa;
}
.background-logo::after{
	content: "";
	width: 16vmin;
	height: 16vmin;
	border-radius: 20vmin;
	position: absolute;
	background: #fff;
	top: 10vmin;
	left: 10vmin;
	box-shadow: 13vmin 0 0 -5vmin #fff,
				-13vmin 0 0 -5vmin #fff,
				0 13vmin 0 -5vmin #fff,
				0 -13vmin 0 -5vmin #fff;
}
.background-logo:nth-child(1){
	left: 20vmin;
	animation: backgroundthing 80s linear infinite;
	animation-delay: -50s;
}
.background-logo:nth-child(2){
	left: calc(50vw - 20vmin);
	animation: backgroundthing 80s linear infinite;
	animation-delay: 0s;
}
.background-logo:nth-child(3){
	right: 20vmin;
	animation: backgroundthing 80s linear infinite;
	animation-delay: -25s;
}
@keyframes backgroundthing{
	0%{transform: rotate(15deg) translate(0, 100vh);}
	100%{transform: rotate(15deg) translate(0, -50vh);}
}
@keyframes opacity{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

#specifications-features-2{
    background-image: url("../image/products/flange/model.jpg");
}
